In [90]:
import pandas as pd
import numpy as np
import io
import requests
from datetime import datetime

In [91]:
url = 'https://phl.carto.com/api/v2/sql?q=SELECT+*,+ST_Y(the_geom)+AS+lat,+ST_X(the_geom)+AS+lng+FROM+opa_properties_public&filename=opa_properties_public&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator'
df = pd.read_csv(url)

,number_of_rooms,assessment_date,beginning_point,book_and_page,building_code,building_code_description,category_code,category_code_description,census_tract,central_air,...,unit,utility,view_type,year_built,year_built_estimate,zip_code,zoning,objectid,lat,lng
0,6.0,NaN,"153'7 1/2""N ALLEGHENY",1.77592e+06,O30,ROW 2 STY MASONRY,1,Single Family,521.0,NaN,...,NaN,NaN,I,1935,Y,191342205,RM1,604225976,39.998934,-75.127498
1,6.0,NaN,"16'4 1/2""S WILLARD",1.74793e+06,O30,ROW 2 STY MASONRY,1,Single Family,521.0,NaN,...,NaN,NaN,I,1935,Y,191342205,RM1,604225977,39.999272,-75.127344
2,6.0,NaN,SWC WILLARD,3.50011e+06,O30,ROW 2 STY MASONRY,1,Single Family,521.0,NaN,...,NaN,NaN,I,1935,Y,191342205,RM1,604225978,39.999317,-75.127335
3,6.0,NaN,NWC WILLA RD,0,O30,ROW 2 STY MASONRY,1,Single Family,521.0,NaN,...,NaN,NaN,I,1935,Y,191342227,RM1,604225979,39.999468,-75.127297
4,6.0,NaN,SEC WILLARD,3.15587e+06,O30,ROW 2 STY MASONRY,1,Single Family,520.0,NaN,...,NaN,NaN,I,1935,Y,191342204,RM1,604225980,39.999256,-75.126923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581451,6.0,NaN,"50'8 1/4"" E A ST",3268072,H30,SEMI/DET 2 STY MASONRY,1,Single Family,70.0,N,...,NaN,NaN,I,1940,Y,191203523,RSA3,604804204,40.029893,-75.120256
581452,0.0,NaN,"1007'10 1/2"" N OF",2426363,K10,S/D W/B GAR 1 STY MASONRY,1,Single Family,920.0,NaN,...,NaN,NaN,I,1955,NaN,191113012,RSA3,604804205,40.066336,-75.085918
581453,6.0,NaN,"64'6"" N 75 AVE",0062358,R30,ROW B/GAR 2 STY MASONRY,1,Single Family,680.0,N,...,NaN,NaN,I,1925,Y,191382211,RSA5,604804206,40.069069,-75.151527
581454,6.0,NaN,139.167' NE OF CEDAR,3209997,O50,ROW 3 STY MASONRY,1,Single Family,40.0,Y,...,NaN,NaN,I,2015,NaN,19125,RSA5,604804207,39.977300,-75.125414
581455,6.0,NaN,"77'1"" N LYCOMING ST",0000000,O30,ROW 2 STY MASONRY,1,Single Family,780.0,N,...,NaN,NaN,I,1925,Y,191402521,RSA5,604804208,40.014161,-75.138496

In [93]:
### new columns
added_columns = [
    '# UNITS',
    'REIS Submarket',
    'CITY',
    'STATE',
    'RESI',
    'CONDO',
    'UNIT',
    'COMM',
    'TOT ASSD $',
    'RE TAXES',
]

### OVERWRITE instructions for the original data file
### these instructions could be manually altered  
rename_dict = {
    'number_of_rooms': {
        'delete': 0,
        'new_name': '# ROOMS',
    },
    'assessment_date': {
        'delete': 0,
        'new_name': 'assessment_date',
    },
    'beginning_point': {
        'delete': 1,
    },
    'book_and_page': {
        'delete': 1,
    },
    'building_code': {
        'delete': 1,
    },
    'building_code_description': {
        'delete': 0,
        'new_name': 'BLDG CODE',
    },
    'category_code': {
        'delete': 1,
    },
    'category_code_description': {
        'delete': 0,
        'new_name': 'BLDG CAT',
    },
    'census_tract': {
        'delete': 1,
    },
    'central_air': {
        'delete': 0,
        'new_name': 'CENTRAL AIR',
    },
    'cross_reference': {
        'delete': 1,
    },
    'date_exterior_condition': {
        'delete': 0,
        'new_name': 'EXT CONDITION DATE',
    },
    'depth': {
        'delete': 0,
        'new_name': 'LOT DEPTH',
    },
    'exempt_building': {
        'delete': 0,
        'new_name': 'BLDG EXEMPT',
    },
    'exempt_land': {
        'delete': 0,
        'new_name': 'LAND EXEMPT',
    },
    'exterior_condition': {
        'delete': 0,
        'new_name': 'EXT CONDITION',
    },
    'fireplaces': {
        'delete': 0,
        'new_name': '# FIREPLACE',
    },
    'frontage': {
        'delete': 0,
        'new_name': 'LOT FRONTAGE',
    },
    'fuel': {
        'delete': 1,
    },
    'garage_spaces': {
        'delete': 0,
        'new_name': 'GARAGE',
    },
    'garage_type': {
        'delete': 0,
        'new_name': 'GARAGE TYPE',
    },
    'general_construction': {
        'delete': 1,
    },
    'geographic_ward': {
        'delete': 1,
    },
    'homestead_exemption': {
        'delete': 0,
        'new_name': 'homestead_exemption',
    },
    'house_extension': {
        'delete': 1,
    },
    'house_number': {
        'delete': 1,
    },
    'interior_condition': {
        'delete': 0,
        'new_name': 'INT CONDITION',
    },
    'location': {
        'delete': 0,
        'new_name': 'ADDRESS',
    },
    'mailing_address_1': {
        'delete': 1,
    },
    'mailing_address_2': {
        'delete': 1,
    },
    'mailing_care_of': {
        'delete': 1,
    },
    'mailing_city_state': {
        'delete': 0,
        'new_name': 'OWNER CITY',
    },
    'mailing_street': {
        'delete': 0,
        'new_name': 'OWNER ADDRESS',
    },
    'mailing_zip': {
        'delete': 0,
        'new_name': 'OWNER ZIP',
    },
    'market_value': {
        'delete': 0,
        'new_name': 'MARKET VALUE',
    },
    'market_value_date': {
        'delete': 1,
    },
    'number_of_bathrooms': {
        'delete': 0,
        'new_name': '# BATH',
    },
    'number_of_bedrooms': {
        'delete': 0,
        'new_name': '# BED',
    },
    'basements': {
        'delete': 0,
        'new_name': 'BASEMENT',
    },
    'number_stories': {
        'delete': 0,
        'new_name': '# FLOORS',
    },
    'off_street_open': {
        'delete': 0,
        'new_name': 'off_street_open'
    },
    'other_building': {
        'delete': 0,
        'new_name': 'BUILDING',
    },
    'owner_1': {
        'delete': 0,
        'new_name': 'OWNER',
    },
    'owner_2': {
        'delete': 1,
    },
    'parcel_number': {
        'delete': 0,
        'new_name': 'PARCEL ID',
    },
    'parcel_shape': {
        'delete': 0,
        'new_name': 'PARCEL SHAPE',
    },
    'quality_grade': {
        'delete': 1
    },
    'recording_date': {
        'delete': 0,
        'new_name': 'RECORDING DATE',
    },
    'registry_number': {
        'delete': 1
    },
    'sale_date': {
        'delete': 0,
        'new_name': 'SALE DATE',
    },
    'sale_price': {
        'delete': 0,
        'new_name': 'SALE PRICE',
    },
    'separate_utilities': {
        'delete': 1,
    },
    'sewer': {
        'delete': 1,
    },
    'site_type': {
        'delete': 1,
    },
    'state_code': {
        'delete': 1,
    },
    'street_code': {
        'delete': 1,
    },
    'street_designation': {
        'delete': 1,
    },
    'street_direction': {
        'delete': 1,
    },
    'street_name': {
        'delete': 1,
    },
    'suffix': {
        'delete': 1,
    },
    'taxable_building': {
        'delete': 0,
        'new_name': 'BLDG ASSD $',
    },
    'taxable_land': {
        'delete': 0,
        'new_name': 'LAND ASSD $',
    },
    'topography': {
        'delete': 0,
        'new_name': 'TOPOGRAPHY',
    },
    'total_area': {
        'delete': 0,
        'new_name': 'LAND SF',
    },
    'total_livable_area': {
        'delete': 0,
        'new_name': 'GSF',
    },
    'type_heater': {
        'delete': 1,
    },
    'unfinished': {
        'delete': 1,
    },
    'unit': {
        'delete': 0,
        'new_name': 'UNIT #',
    },
    'utility': {
        'delete': 1,
    },
    'view_type': {
        'delete': 0,
        'new_name': 'VIEW',
    },
    'year_built': {
        'delete': 0,
        'new_name': 'YEAR BUILT',
    },
    'year_built_estimate': {
        'delete': 1,
    },
    'zip_code': {
        'delete': 0,
        'new_name': 'ZIP',
    },
    'zoning': {
        'delete': 0,
        'new_name': 'ZONING',
    },
    'objectid': {
        'delete': 1,
    },
    'lat': {
        'delete': 0,
        'new_name': 'LATITUDE',
    },
    'lng': {
        'delete': 0,
        'new_name': 'LONGITUDE',
    },
}

instructions = {
    'added_columns': added_columns,
    'rename_dict': rename_dict,
}

In [208]:
def pre_clean_df(df, instructions):
    added_columns = instructions['added_columns']
    rename_dict = instructions['rename_dict']
    orig_columns = list(instructions['rename_dict'].keys())
    df_new = df.copy()[orig_columns]
    
    for column in orig_columns:
        if rename_dict[column]['delete'] == 1:
            df_new = df_new.drop([column], axis=1)
        if rename_dict[column]['delete'] == 0:
            df_new = df_new.rename(columns={column: rename_dict[column]['new_name']})
    
    df_new = df_new.reindex(df_new.columns.tolist()+added_columns, axis=1)\
                   .astype(dtype={'SALE DATE': str})
    
    df_new['SALE DATE'] = pd.to_datetime(df_new['SALE DATE'], errors='coerce')
    df_new = df_new.sort_values(by=['SALE DATE'], ascending=False)\
                   .drop(df_new[df_new['SALE DATE']==pd.NaT].index)\
                   .reset_index(drop=True)
    
    return df_new

def subset_df_date(df_new, deltadays):
    delta = pd.Timedelta(deltadays)
    df_new = df_new.sort_values(by=['SALE DATE'], ascending=False)
    latest_date = df_new['SALE DATE'].iloc[0]
    earliest_date = latest_date-delta
    keep_index = df_new[(df_new['SALE DATE']>=earliest_date) & 
                        (df_new['SALE DATE']<=latest_date)].index
    df_sub = df_new.iloc[keep_index]\
                   .reset_index(drop=True)
    return df_sub

def update_PLUTO(pluto, df_sub):
    pluto_addresses = pluto['ADDRESS'].tolist()
    sub_addresses = df_sub['ADDRESS'].tolist()
    pluto_update = pluto.copy()
    
    for address in sub_addresses:
        if address in pluto_addresses:
            print(f'1: {address}')
            pluto_update.at[
                pluto_update[pluto_update['ADDRESS']==address].index,
                ['GSF', 'SALE PRICE', 'SALE DATE']
            ] = df_sub.loc[df_sub['ADDRESS']==address][['GSF', 'SALE PRICE', 'SALE DATE']]\
                      .tolist()
        else:
            print(f'2: {address}')
            added_row = df_sub.loc[df_sub['ADDRESS']==address]
            pluto_update = pluto_update.append(added_row, ignore_index=True)
    
    return pluto_update

In [209]:
df_new = pre_clean_df(df, instructions)
df_sub = subset_df_date(df_new, '40 days')

In [210]:
pluto = pd.read_csv('../data/project/PHLPL-001 All_Properties [byaddress;location] PLUTO.csv')

In [211]:
pluto['SALE DATE'] = pd.to_datetime(pluto['SALE DATE'], errors='coerce')

In [212]:
pluto = pluto.sort_values(by=['SALE DATE'], ascending=False)

In [ ]:
pluto_update = update_PLUTO(pluto, df_sub)

1: 2323 W CUMBERLAND ST
      GSF  SALE PRICE  SALE DATE
0  1440.0     52500.0 2019-12-22
1: 2643 SEPVIVA ST
      GSF  SALE PRICE  SALE DATE
1  1218.0    293000.0 2019-12-21
2: 3300 CONRAD ST
1: 2849 HEDLEY ST
     GSF  SALE PRICE  SALE DATE
3  952.0    118600.0 2019-12-06
1: 3135 CROATAN PL
      GSF  SALE PRICE  SALE DATE
4  1152.0         1.0 2019-12-05
1: 1916 N 61ST ST
      GSF  SALE PRICE  SALE DATE
5  1810.0         1.0 2019-12-05
1: 2614 S MARSHALL ST
     GSF  SALE PRICE  SALE DATE
6  900.0         1.0 2019-12-05
1: 1110 BUTTONWOOD ST
      GSF  SALE PRICE  SALE DATE
7  1696.0    180000.0 2019-12-05
1: 1310 NARRAGANSETT ST
      GSF  SALE PRICE  SALE DATE
8  1260.0         1.0 2019-12-05
1: 3319 ENGLEWOOD ST
      GSF  SALE PRICE  SALE DATE
9  1600.0    200000.0 2019-12-05
1: 2833 S ISEMINGER ST
      GSF  SALE PRICE  SALE DATE
10  982.0    314500.0 2019-12-05
1: 7245 OAKLAND ST
      GSF  SALE PRICE  SALE DATE
11  958.0    156000.0 2019-12-04
1: 2143 E CLEARFIELD ST
       GSF  SALE PRICE  SALE DATE
12  1024.0         1.0 2019-12-04
2: 5940 MARKET ST
2: 2012 WHARTON ST
1: 2557 N JESSUP ST
      GSF  SALE PRICE  SALE DATE
15  912.0         1.0 2019-12-04
1: 3618 N MARVINE ST
       GSF  SALE PRICE  SALE DATE
16  1755.0     42802.0 2019-12-03
1: 1227 E VENANGO ST
       GSF  SALE PRICE  SALE DATE
17  1008.0      9000.0 2019-12-03
1: 611 W LURAY ST
       GSF  SALE PRICE  SALE DATE
18  1024.0         1.0 2019-12-03
1: 2923 S CARLISLE ST
       GSF  SALE PRICE  SALE DATE
19  1080.0         1.0 2019-12-03
1: 12521 RICHTON RD
       GSF  SALE PRICE  SALE DATE
20  1360.0    183000.0 2019-12-03
1: 636 E TABOR RD
       GSF  SALE PRICE  SALE DATE
21  1184.0     50000.0 2019-12-03
1: 219 W DUVAL ST
       GSF  SALE PRICE  SALE DATE
22  1210.0    215000.0 2019-12-03
1: 602 W LURAY ST
       GSF  SALE PRICE  SALE DATE
23  1024.0         1.0 2019-12-03
1: 1824 MEDARY AVE
       GSF  SALE PRICE  SALE DATE
24  1104.0         1.0 2019-12-03
1: 6308 EASTWOOD ST
       GSF  SALE PRICE  SALE DATE
25  1088.0    108000.0 2019-12-03
1: 414 E WYOMING AVE
       GSF  SALE PRICE  SALE DATE
26  1756.0         1.0 2019-12-03
1: 2203 DISSTON ST
       GSF  SALE PRICE  SALE DATE
27  1176.0    186000.0 2019-12-03
1: 478 HART LN
      GSF  SALE PRICE  SALE DATE
28  696.0         1.0 2019-12-03
1: 2643 N 31ST ST
       GSF  SALE PRICE  SALE DATE
29  1356.0         1.0 2019-12-02
2: 2324-26 E SUSQUEHANNA AVE
1: 1510 LOMBARD ST
       GSF  SALE PRICE  SALE DATE
31  3045.0    780000.0 2019-12-02
1: 333 DALY ST
       GSF  SALE PRICE  SALE DATE
32  1108.0     90000.0 2019-12-02
1: 3158 MILLER ST
       GSF  SALE PRICE  SALE DATE
33  1062.0    125000.0 2019-12-02
1: 5659 HADFIELD ST
       GSF  SALE PRICE  SALE DATE
34  1080.0     65000.0 2019-12-02
1: 2113 E WILLIAM ST
      GSF  SALE PRICE  SALE DATE
35  800.0     21000.0 2019-12-02
1: 2842 UNRUH AVE
       GSF  SALE PRICE  SALE DATE
36  1376.0    222000.0 2019-12-02
1: 1818 HARTEL AVE
       GSF  SALE PRICE  SALE DATE
37  1700.0    215000.0 2019-12-02
2: 2602 W DAUPHIN ST
1: 3335 DISSTON ST
       GSF  SALE PRICE  SALE DATE
39  1568.0    230000.0 2019-12-02
1: 12046 GLENFIELD ST
       GSF  SALE PRICE  SALE DATE
40  1216.0    227000.0 2019-12-02
1: 1217 S 49TH ST
       GSF  SALE PRICE  SALE DATE
41  1440.0         1.0 2019-12-02
1: 530 MONTROSE ST
      GSF  SALE PRICE  SALE DATE
42  936.0         1.0 2019-12-02
1: 5605 SPRUCE ST
       GSF  SALE PRICE  SALE DATE
43  2082.0     65000.0 2019-12-02
1: 3003 S 17TH ST
       GSF  SALE PRICE  SALE DATE
44  1080.0    185000.0 2019-12-02
1: 6439 EASTWOOD ST
       GSF  SALE PRICE  SALE DATE
45  1144.0    138000.0 2019-12-02
1: 3214 H ST
       GSF  SALE PRICE  SALE DATE
46  1260.0         1.0 2019-12-02
1: 816 GRIFFITH ST
       GSF  SALE PRICE  SALE DATE
47  1082.0    235000.0 2019-12-02
1: 3051 HARTVILLE ST
      GSF  SALE PRICE  SALE DATE
48  980.0     20000.0 2019-12-02
1: 2327 WATKINS ST
       GSF  SALE PRICE  SALE DATE
49  1014.0         1.0 2019-12-01
2: 4403 CHESTNUT ST
1: 2046 ROBBINS ST
       GSF  SALE PRICE  SALE DATE
51  1244.0    166000.0 2019-11-29
1: 2940 KNORR ST
       GSF  SALE PRICE  SALE DATE
52  1168.0    200000.0 2019-11-29
1: 8214 DORCAS ST
       GSF  SALE PRICE  SALE DATE
53  1860.0         1.0 2019-11-29
1: 1211 E SEDGLEY AVE
       GSF  SALE PRICE  SALE DATE
54  1944.0    110000.0 2019-11-29
1: 1321 N HOLLYWOOD ST
       GSF  SALE PRICE  SALE DATE
55  1014.0    170000.0 2019-11-29
1: 1545 S CHADWICK ST
       GSF  SALE PRICE  SALE DATE
56  1072.0     80000.0 2019-11-29
2: 1914 N ORIANNA ST
1: 3207 ATMORE RD
       GSF  SALE PRICE  SALE DATE
58  1360.0    235000.0 2019-11-29
1: 2415 FRANKFORD AVE
       GSF  SALE PRICE  SALE DATE
59  2532.0    440000.0 2019-11-29
1: 6128 DITMAN ST
       GSF  SALE PRICE  SALE DATE
60  1280.0    197000.0 2019-11-29
1: 2718 N 29TH ST
       GSF  SALE PRICE  SALE DATE
61  1364.0         1.0 2019-11-29
1: 6358 MUSGRAVE ST
       GSF  SALE PRICE  SALE DATE
62  1260.0    152000.0 2019-11-29
2: 1916 N ORIANNA ST
1: 2821 S BEULAH ST
       GSF  SALE PRICE  SALE DATE
64  1336.0         1.0 2019-11-29
1: 5232 N HUTCHINSON ST
      GSF  SALE PRICE  SALE DATE
65  960.0     60000.0 2019-11-28
1: 4720 RAMONA AVE
       GSF  SALE PRICE  SALE DATE
66  1944.0    225000.0 2019-11-27
2: 8071-75 ERDRICK ST
1: 1512 STEVENS ST
       GSF  SALE PRICE  SALE DATE
68  1126.0    121000.0 2019-11-27
1: 921 SLOCUM ST
       GSF  SALE PRICE  SALE DATE
69  1474.0    212500.0 2019-11-27
1: 2515 N 7TH ST
       GSF  SALE PRICE  SALE DATE
70  1610.0         1.0 2019-11-27
1: 4840 MASCHER ST
       GSF  SALE PRICE  SALE DATE
71  1200.0    135000.0 2019-11-27
1: 5100 N FAIRHILL ST
       GSF  SALE PRICE  SALE DATE
72  1248.0     96000.0 2019-11-27
1: 1757 N 61ST ST
       GSF  SALE PRICE  SALE DATE
73  1276.0    175000.0 2019-11-27
1: 4210 SPRUCE ST
       GSF  SALE PRICE  SALE DATE
74  3780.0    775000.0 2019-11-27
1: 1225 ELLSWORTH ST
       GSF  SALE PRICE  SALE DATE
75  1944.0    420000.0 2019-11-27
1: 1927 S 13TH ST
       GSF  SALE PRICE  SALE DATE
76  1133.0    417500.0 2019-11-27
1: 5278 PARKSIDE AVE
       GSF  SALE PRICE  SALE DATE
77  1526.0    185000.0 2019-11-27
2: 409 W HEWSON ST
1: 4508 N COLORADO ST
      GSF  SALE PRICE  SALE DATE
79  992.0         1.0 2019-11-27
1: 1021 N LAWRENCE ST
       GSF  SALE PRICE  SALE DATE
80  1488.0    375000.0 2019-11-27
1: 3000 ARAMINGO AVE
       GSF  SALE PRICE  SALE DATE
81  1170.0    205000.0 2019-11-27
1: 1817 FARRINGTON RD
       GSF  SALE PRICE  SALE DATE
82  1120.0    160000.0 2019-11-27
2: 1328 KATER ST
2: 9715 NORTHEAST AVE
1: 7115 OAKLAND ST
       GSF  SALE PRICE  SALE DATE
85  1176.0         1.0 2019-11-27
1: 2070 E CAMBRIA ST
      GSF  SALE PRICE  SALE DATE
86  910.0         1.0 2019-11-27
2: 2117 E WILLIAM ST
1: 4328 M ST
       GSF  SALE PRICE  SALE DATE
88  1188.0    169900.0 2019-11-27
2: 3746 GERMANTOWN AVE
1: 937 S CONESTOGA ST
      GSF  SALE PRICE  SALE DATE
90  880.0     50000.0 2019-11-27
2: 6117 BINGHAM ST
1: 1513 S 29TH ST
       GSF  SALE PRICE  SALE DATE
92  1280.0    230000.0 2019-11-27
1: 4447 N 19TH ST
       GSF  SALE PRICE  SALE DATE
93  1190.0     58000.0 2019-11-27
1: 1341 S 18TH ST
       GSF  SALE PRICE  SALE DATE
94  1800.0    460000.0 2019-11-27
1: 2246 E CLEARFIELD ST
       GSF  SALE PRICE  SALE DATE
95  1236.0     85000.0 2019-11-27
1: 2322 E CLEARFIELD ST
       GSF  SALE PRICE  SALE DATE
96  1064.0    114000.0 2019-11-27
1: 5344 WINGOHOCKING TER
       GSF  SALE PRICE  SALE DATE
97  2359.0    142500.0 2019-11-27
2: 605-09 SPRING GARDEN ST
1: 134 W SPENCER ST
       GSF  SALE PRICE  SALE DATE
99  2399.0    185000.0 2019-11-27
1: 2221 LATONA ST
        GSF  SALE PRICE  SALE DATE
100  1339.0         1.0 2019-11-26
1: 2616 S CARLISLE ST
        GSF  SALE PRICE  SALE DATE
101  1110.0    207900.0 2019-11-26
1: 6025 HAZEL AVE
        GSF  SALE PRICE  SALE DATE
102  1012.0     35000.0 2019-11-26
1: 3429 KEIM ST
       GSF  SALE PRICE  SALE DATE
103  952.0      5000.0 2019-11-26
1: 6318 SHERMAN ST
        GSF  SALE PRICE  SALE DATE
104  1592.0    255551.0 2019-11-26
1: 2336 S ITHAN ST
       GSF  SALE PRICE  SALE DATE
105  648.0     52000.0 2019-11-26
1: 4351 LAURISTON ST
        GSF  SALE PRICE  SALE DATE
106  1600.0    299900.0 2019-11-26
1: 3243 LESTER RD
        GSF  SALE PRICE  SALE DATE
107  1360.0    177000.0 2019-11-26
2: 9203 MASLAND ST

1: 7007 LYNFORD ST
        GSF  SALE PRICE  SALE DATE
109  1152.0    160000.0 2019-11-26
1: 331 CARSON ST
       GSF  SALE PRICE  SALE DATE
110  896.0    221000.0 2019-11-26
2: 3256 N CARLISLE ST
1: 330 GATES ST

In [207]:
pluto_update.loc[pluto_update['ADDRESS']=='4326 POTTER ST'][['GSF']]

        GSF
353206  NaN

In [194]:
df_sub

,# ROOMS,assessment_date,BLDG CODE,BLDG CAT,CENTRAL AIR,EXT CONDITION DATE,LOT DEPTH,BLDG EXEMPT,LAND EXEMPT,EXT CONDITION,...,# UNITS,REIS Submarket,CITY,STATE,RESI,CONDO,UNIT,COMM,TOT ASSD $,RE TAXES
0,6.0,NaN,ROW 2 STY MASONRY,Single Family,NaN,NaN,87.00,43010.0,1990.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,ROW 3 STY MASONRY,Single Family,NaN,NaN,55.00,83942.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,NaN,VACANT LAND RESIDE < ACRE,Vacant Land,NaN,NaN,55.72,177375.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,NaN,ROW 2 STY MASONRY,Single Family,N,2012-07-10,78.88,45000.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,NaN,ROW B/GAR 2 STY MASONRY,Single Family,Y,2017-03-24,97.41,45000.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,5.0,NaN,ROW 3 STY MASONRY,Single Family,Y,NaN,50.00,45000.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1189,6.0,NaN,ROW 2 STY MASONRY,Single Family,N,2012-01-20,51.00,0.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1190,6.0,NaN,ROW 2 STY MASONRY,Single Family,NaN,2012-05-04,54.58,0.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,6.0,NaN,ROW 2 STY MASONRY,Single Family,NaN,2012-03-01,100.00,0.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,6.0,NaN,ROW 2 STY MASONRY,Single Family,NaN,2001-02-02,54.00,0.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN