In [90]:
import pandas as pd
import numpy as np
import io
import requests
from datetime import datetime

In [91]:
url = 'https://phl.carto.com/api/v2/sql?q=SELECT+*,+ST_Y(the_geom)+AS+lat,+ST_X(the_geom)+AS+lng+FROM+opa_properties_public&filename=opa_properties_public&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator'
df = pd.read_csv(url)

In [93]:
### new columns
added_columns = [
    '# UNITS',
    'REIS Submarket',
    'CITY',
    'STATE',
    'RESI',
    'CONDO',
    'UNIT',
    'COMM',
    'TOT ASSD $',
    'RE TAXES',
]

### OVERWRITE instructions for the original data file
### these instructions could be manually altered  
rename_dict = {
    'number_of_rooms': {
        'delete': 0,
        'new_name': '# ROOMS',
    },
    'assessment_date': {
        'delete': 0,
        'new_name': 'assessment_date',
    },
    'beginning_point': {
        'delete': 1,
    },
    'book_and_page': {
        'delete': 1,
    },
    'building_code': {
        'delete': 1,
    },
    'building_code_description': {
        'delete': 0,
        'new_name': 'BLDG CODE',
    },
    'category_code': {
        'delete': 1,
    },
    'category_code_description': {
        'delete': 0,
        'new_name': 'BLDG CAT',
    },
    'census_tract': {
        'delete': 1,
    },
    'central_air': {
        'delete': 0,
        'new_name': 'CENTRAL AIR',
    },
    'cross_reference': {
        'delete': 1,
    },
    'date_exterior_condition': {
        'delete': 0,
        'new_name': 'EXT CONDITION DATE',
    },
    'depth': {
        'delete': 0,
        'new_name': 'LOT DEPTH',
    },
    'exempt_building': {
        'delete': 0,
        'new_name': 'BLDG EXEMPT',
    },
    'exempt_land': {
        'delete': 0,
        'new_name': 'LAND EXEMPT',
    },
    'exterior_condition': {
        'delete': 0,
        'new_name': 'EXT CONDITION',
    },
    'fireplaces': {
        'delete': 0,
        'new_name': '# FIREPLACE',
    },
    'frontage': {
        'delete': 0,
        'new_name': 'LOT FRONTAGE',
    },
    'fuel': {
        'delete': 1,
    },
    'garage_spaces': {
        'delete': 0,
        'new_name': 'GARAGE',
    },
    'garage_type': {
        'delete': 0,
        'new_name': 'GARAGE TYPE',
    },
    'general_construction': {
        'delete': 1,
    },
    'geographic_ward': {
        'delete': 1,
    },
    'homestead_exemption': {
        'delete': 0,
        'new_name': 'homestead_exemption',
    },
    'house_extension': {
        'delete': 1,
    },
    'house_number': {
        'delete': 1,
    },
    'interior_condition': {
        'delete': 0,
        'new_name': 'INT CONDITION',
    },
    'location': {
        'delete': 0,
        'new_name': 'ADDRESS',
    },
    'mailing_address_1': {
        'delete': 1,
    },
    'mailing_address_2': {
        'delete': 1,
    },
    'mailing_care_of': {
        'delete': 1,
    },
    'mailing_city_state': {
        'delete': 0,
        'new_name': 'OWNER CITY',
    },
    'mailing_street': {
        'delete': 0,
        'new_name': 'OWNER ADDRESS',
    },
    'mailing_zip': {
        'delete': 0,
        'new_name': 'OWNER ZIP',
    },
    'market_value': {
        'delete': 0,
        'new_name': 'MARKET VALUE',
    },
    'market_value_date': {
        'delete': 1,
    },
    'number_of_bathrooms': {
        'delete': 0,
        'new_name': '# BATH',
    },
    'number_of_bedrooms': {
        'delete': 0,
        'new_name': '# BED',
    },
    'basements': {
        'delete': 0,
        'new_name': 'BASEMENT',
    },
    'number_stories': {
        'delete': 0,
        'new_name': '# FLOORS',
    },
    'off_street_open': {
        'delete': 0,
        'new_name': 'off_street_open'
    },
    'other_building': {
        'delete': 0,
        'new_name': 'BUILDING',
    },
    'owner_1': {
        'delete': 0,
        'new_name': 'OWNER',
    },
    'owner_2': {
        'delete': 1,
    },
    'parcel_number': {
        'delete': 0,
        'new_name': 'PARCEL ID',
    },
    'parcel_shape': {
        'delete': 0,
        'new_name': 'PARCEL SHAPE',
    },
    'quality_grade': {
        'delete': 1
    },
    'recording_date': {
        'delete': 0,
        'new_name': 'RECORDING DATE',
    },
    'registry_number': {
        'delete': 1
    },
    'sale_date': {
        'delete': 0,
        'new_name': 'SALE DATE',
    },
    'sale_price': {
        'delete': 0,
        'new_name': 'SALE PRICE',
    },
    'separate_utilities': {
        'delete': 1,
    },
    'sewer': {
        'delete': 1,
    },
    'site_type': {
        'delete': 1,
    },
    'state_code': {
        'delete': 1,
    },
    'street_code': {
        'delete': 1,
    },
    'street_designation': {
        'delete': 1,
    },
    'street_direction': {
        'delete': 1,
    },
    'street_name': {
        'delete': 1,
    },
    'suffix': {
        'delete': 1,
    },
    'taxable_building': {
        'delete': 0,
        'new_name': 'BLDG ASSD $',
    },
    'taxable_land': {
        'delete': 0,
        'new_name': 'LAND ASSD $',
    },
    'topography': {
        'delete': 0,
        'new_name': 'TOPOGRAPHY',
    },
    'total_area': {
        'delete': 0,
        'new_name': 'LAND SF',
    },
    'total_livable_area': {
        'delete': 0,
        'new_name': 'GSF',
    },
    'type_heater': {
        'delete': 1,
    },
    'unfinished': {
        'delete': 1,
    },
    'unit': {
        'delete': 0,
        'new_name': 'UNIT #',
    },
    'utility': {
        'delete': 1,
    },
    'view_type': {
        'delete': 0,
        'new_name': 'VIEW',
    },
    'year_built': {
        'delete': 0,
        'new_name': 'YEAR BUILT',
    },
    'year_built_estimate': {
        'delete': 1,
    },
    'zip_code': {
        'delete': 0,
        'new_name': 'ZIP',
    },
    'zoning': {
        'delete': 0,
        'new_name': 'ZONING',
    },
    'objectid': {
        'delete': 1,
    },
    'lat': {
        'delete': 0,
        'new_name': 'LATITUDE',
    },
    'lng': {
        'delete': 0,
        'new_name': 'LONGITUDE',
    },
}

instructions = {
    'added_columns': added_columns,
    'rename_dict': rename_dict,
}

In [274]:
def pre_clean_df(df, instructions):
    added_columns = instructions['added_columns']
    rename_dict = instructions['rename_dict']
    orig_columns = list(instructions['rename_dict'].keys())
    df_new = df.copy()[orig_columns]
    
    for column in orig_columns:
        if rename_dict[column]['delete'] == 1:
            df_new = df_new.drop([column], axis=1)
        if rename_dict[column]['delete'] == 0:
            df_new = df_new.rename(columns={column: rename_dict[column]['new_name']})
    
    df_new = df_new.reindex(df_new.columns.tolist()+added_columns, axis=1)\
                   .astype(dtype={'SALE DATE': str})
    
    df_new['SALE DATE'] = pd.to_datetime(df_new['SALE DATE'], errors='coerce')
    df_new = df_new.sort_values(by=['SALE DATE'], ascending=False)\
                   .drop(df_new[df_new['SALE DATE']==pd.NaT].index)\
                   .reset_index(drop=True)
    
    return df_new

def subset_df_date(df_new, deltadays):
    delta = pd.Timedelta(deltadays)
    df_new = df_new.sort_values(by=['SALE DATE'], ascending=False)
    latest_date = df_new['SALE DATE'].iloc[0]
    earliest_date = latest_date-delta
    keep_index = df_new[(df_new['SALE DATE']>=earliest_date) & 
                        (df_new['SALE DATE']<=latest_date)].index
    df_sub = df_new.iloc[keep_index]\
                   .reset_index(drop=True)
    return df_sub

def update_PLUTO(pluto, df_sub):
    pluto_addresses = pluto['ADDRESS'].tolist()
    sub_addresses = df_sub['ADDRESS'].tolist()
    pluto_update = pluto.copy()
    
    ### loop through all the addresses in the new data 
    ### to match the addresses in the PLUTO dataset 
    for address in sub_addresses:
        if address in pluto_addresses:
            print(f'1: {address}')
            added = df_sub.loc[df_sub['ADDRESS']==address]
            original = pluto.loc[pluto['ADDRESS']==address]
            
            added_unit = added['UNIT'].values.tolist()[0]
            orig_unit = original['UNIT'].values.tolist()[0]
            # address in the PLUTO whose data need to be updated 
            if added_unit == orig_unit:
                pluto_update.at[
                    pluto_update[pluto_update['ADDRESS']==address].index,
                    ['GSF', 'SALE PRICE', 'SALE DATE']
                ] = df_sub.loc[df_sub['ADDRESS']==address]\
                          .loc[['GSF', 
                                'SALE PRICE', 
                                'SALE DATE']]\
                          .values\
                          .tolist()
            else:
                # to account for the addresses that have multiple properties
                added_rows = df_sub.loc[df_sub['ADDRESS']==address]
                for i in range(added_rows.shape[0]):
                    pluto_update = pluto_update.append(added_rows.iloc[i], 
                                                       ignore_index=True)
        else:
            print(f'2: {address}')
            added_row = df_sub.loc[df_sub['ADDRESS']==address]
            pluto_update = pluto_update.append(added_row, ignore_index=True)
    
    return pluto_update

In [234]:
df_new = pre_clean_df(df, instructions)
df_sub = subset_df_date(df_new, '40 days')

In [235]:
pluto = pd.read_csv('../data/project/PHLPL-001 All_Properties [byaddress;location] PLUTO.csv')

In [236]:
pluto['SALE DATE'] = pd.to_datetime(pluto['SALE DATE'], errors='coerce')

In [237]:
pluto = pluto.sort_values(by=['SALE DATE'], ascending=False)

In [275]:
pluto_update = update_PLUTO(pluto, df_sub)

1: 2323 W CUMBERLAND ST
1: 2643 SEPVIVA ST
2: 3300 CONRAD ST
1: 2849 HEDLEY ST
1: 3135 CROATAN PL
1: 1916 N 61ST ST
1: 2614 S MARSHALL ST
1: 1110 BUTTONWOOD ST
1: 1310 NARRAGANSETT ST
1: 3319 ENGLEWOOD ST
1: 2833 S ISEMINGER ST
1: 7245 OAKLAND ST
1: 2143 E CLEARFIELD ST
2: 5940 MARKET ST
2: 2012 WHARTON ST
1: 2557 N JESSUP ST
1: 3618 N MARVINE ST
1: 1227 E VENANGO ST
1: 611 W LURAY ST
1: 2923 S CARLISLE ST
1: 12521 RICHTON RD
1: 636 E TABOR RD
1: 219 W DUVAL ST
1: 602 W LURAY ST
1: 1824 MEDARY AVE
1: 6308 EASTWOOD ST
1: 414 E WYOMING AVE
1: 2203 DISSTON ST
1: 478 HART LN
1: 2643 N 31ST ST
2: 2324-26 E SUSQUEHANNA AVE
1: 1510 LOMBARD ST
1: 333 DALY ST
1: 3158 MILLER ST
1: 5659 HADFIELD ST
1: 2113 E WILLIAM ST
1: 2842 UNRUH AVE
1: 1818 HARTEL AVE
2: 2602 W DAUPHIN ST
1: 3335 DISSTON ST
1: 12046 GLENFIELD ST
1: 1217 S 49TH ST
1: 530 MONTROSE ST
1: 5605 SPRUCE ST
1: 3003 S 17TH ST
1: 6439 EASTWOOD ST
1: 3214 H ST
1: 816 GRIFFITH ST
1: 3051 HARTVILLE ST
1: 2327 WATKINS ST
2: 4403 CHESTNUT ST
1: 2046 ROBBINS ST
1: 2940 KNORR ST
1: 8214 DORCAS ST
1: 1211 E SEDGLEY AVE
1: 1321 N HOLLYWOOD ST
1: 1545 S CHADWICK ST
2: 1914 N ORIANNA ST
1: 3207 ATMORE RD
1: 2415 FRANKFORD AVE
1: 6128 DITMAN ST
1: 2718 N 29TH ST
1: 6358 MUSGRAVE ST
2: 1916 N ORIANNA ST
1: 2821 S BEULAH ST
1: 5232 N HUTCHINSON ST
1: 4720 RAMONA AVE
2: 8071-75 ERDRICK ST
1: 1512 STEVENS ST
1: 921 SLOCUM ST
1: 2515 N 7TH ST
1: 4840 MASCHER ST
1: 5100 N FAIRHILL ST
1: 1757 N 61ST ST
1: 4210 SPRUCE ST
1: 1225 ELLSWORTH ST
1: 1927 S 13TH ST
1: 5278 PARKSIDE AVE
2: 409 W HEWSON ST
1: 4508 N COLORADO ST
1: 1021 N LAWRENCE ST
1: 3000 ARAMINGO AVE
1: 1817 FARRINGTON RD
2: 1328 KATER ST
2: 9715 NORTHEAST AVE
1: 7115 OAKLAND ST
1: 2070 E CAMBRIA ST
2: 2117 E WILLIAM ST
1: 4328 M ST
2: 3746 GERMANTOWN AVE
1: 937 S CONESTOGA ST
2: 6117 BINGHAM ST
1: 1513 S 29TH ST
1: 4447 N 19TH ST
1: 1341 S 18TH ST
1: 2246 E CLEARFIELD ST
1: 2322 E CLEARFIELD ST
1: 5344 WINGOHOCKING TER
2: 605-09 SPRING GARDEN ST
1: 134 W SPENCER ST
1: 2221 LATONA ST
1: 2616 S CARLISLE ST
1: 6025 HAZEL AVE
1: 3429 KEIM ST
1: 6318 SHERMAN ST
1: 2336 S ITHAN ST
1: 4351 LAURISTON ST
1: 3243 LESTER RD
2: 9203 MASLAND ST
1: 7007 LYNFORD ST
1: 331 CARSON ST
2: 3256 N CARLISLE ST
1: 330 GATES ST
2: 8933 KREWSTOWN RD
1: 6948 JACKSON ST
1: 4330 GREENMOUNT RD
2: 150 ROUSE BLV
1: 3734 BANDON DR
1: 8101 FAYETTE ST
1: 240 N RUBY ST
1: 3727 MANAYUNK AVE
2: 1630 N MARSHALL ST
1: 5030 F ST
1: 2021 NAPFLE AVE
1: 3146 N 25TH ST
1: 7205 BROUS AVE
1: 7273 RUTLAND ST
2: 6400 N 11TH ST
1: 4463 E ALLEN ST
1: 3016 KNORR ST
1: 1905 RUAN ST
2: 2752 N BONSALL ST
1: 2608 TREMONT ST
2: 4804-20 RICHMOND ST
1: 2052 E ORLEANS ST
1: 1520 S COLORADO ST
1: 1543 N 55TH ST
1: 4908 WALNUT ST
1: 2016 MEDARY AVE
1: 3430 CHIPPENDALE AVE
1: 1858 MOHICAN ST
1: 5121 HADFIELD ST
1: 1637 FOULKROD ST
2: 1416 TASKER ST
1: 2103 S 66TH ST
2: 3041 POTTER ST
1: 2108 CHURCH LN
1: 1655 FOULKROD ST
1: 222 W CHEW AVE
1: 3124 N 6TH ST
1: 3043 POTTER ST
1: 7120 JACKSON ST
2: 1401-03 E MOYAMENSING AVE
1: 1223 DIAMOND ST
1: 3906-08 N 6TH ST
2: 1250 N HOLLYWOOD ST
1: 384 LEROY ST
1: 1558 N FELTON ST
1: 1810 DALLAS ST
1: 917 CHURCH LN
1: 1448 E WILT ST
1: 3805 NEDLA RD
1: 2118 N WANAMAKER ST
2: 1727 N CROSKEY ST
1: 1209 MARLBOROUGH ST
1: 1171 E HORTTER ST
1: 6838 SOUDER ST
2: 1302 N MARSHALL ST
1: 2146 MAGEE AVE
1: 701-05 IVINS RD
1: 2534 POPLAR ST
1: 352 MECHANIC ST
1: 2330 SANSOM ST
1: 6204 JEFFERSON ST
1: 2330 SANSOM ST
1: 3623 BELGRADE ST
2: 4500 N GRATZ ST
1: 2330 SANSOM ST
1: 4853 GRANSBACK ST
1: 5720 LEONARD ST
1: 5423 IRVING ST
1: 1219 RIPLEY ST
2: 3248 KENSINGTON AVE
2: 9727 PORTIS RD
1: 5629 MARKET ST
1: 1524 BEVERLY RD
1: 2245 N LAMBERT ST
2: 8124 MARTINDALE ST
1: 108 DALY ST
2: 3246 KENSINGTON AVE
1: 209 E MEADE ST
1: 4114 L ST
2: 1109 HOWER LN
1: 12530 FEDOR PL
1: 126 E MENTOR ST
1: 4508 N 16TH ST
1: 1538-42 INGERSOLL ST
1: 6347 VANDIKE ST
1: 5026 RENO ST
1: 1147 LEVICK ST
1: 2317 VISTA ST
1: 1810 N 26TH ST
1: 1620 S FRANKLIN ST
1: 1544 S HICKS ST
1: 1152 S 18TH ST
1: 1747 N WILTON ST
1: 6030 BRIDGET ST
1: 2140 GLENVIEW ST
1: 2535 S 15TH ST
2: 128 E MENTOR ST
1: 2018 S HEMBERGER ST
1: 2662 WELSH RD
1: 5628 ARCH ST
2: 3525 S LAWRENCE ST
1: 4710 WAYNE AVE
1: 11728 BRANDON PL
1: 4141 J ST
2: 2523 CECIL B MOORE AVE
1: 507 CARPENTER ST
1: 5015 CONVENT LN
1: 1420 LOCUST ST
1: 4043 DEXTER ST
1: 7338 HIOLA RD
1: 531 W ROOSEVELT BLVD
1: 5428 WOODCREST AVE
1: 2924 W CLEMENTINE ST
1: 6331 GLENLOCH ST
1: 254 APSLEY ST
1: 1018 CLINTON ST
1: 1425 LOCUST ST
1: 319 S 10TH ST
1: 1623 RITNER ST
1: 2822 DEVEREAUX AVE
1: 757 S 20TH ST
1: 164 W THELMA ST
1: 5151 LEIPER ST
1: 5554 ADDISON ST
1: 1415 W ALLEGHENY AVE
1: 1013 S 24TH ST
2: 112 S 18TH ST
1: 1231 WAKELING ST
1: 334-38 LOMBARD ST
1: 932 E ELLET ST
1: 1013 W DUNCANNON AVE
1: 1100 MAGEE AVE
1: 3627 WARREN ST
2: 2100-04 LOMBARD ST
2: 1602-04 N FRONT ST
2: 1600 N FRONT ST
2: 1606-08 N FRONT ST
2: 1610 N FRONT ST
1: 2032 CHERRY ST
1: 1222 GERMANTOWN AVE
1: 2354 E LETTERLY ST
1: 5046 LARCHWOOD AVE
1: 5452 W BERKS ST
1: 5845 STOCKTON RD
1: 62 N EDGEWOOD ST
1: 1249 N HOLLYWOOD ST
1: 9975 WOODFERN RD
1: 2818 RAWLE ST
1: 529 MARTIN ST
1: 3453 PRINCETON AVE
1: 2901 GUILFORD ST
1: 8134 FARNSWORTH ST
1: 5522 W GIRARD AVE
1: 3439 LIVINGSTON ST
1: 5617 STOKES ST
1: 5823 HENRY AVE
1: 5416 STEWART ST
1: 7346 SHELBOURNE ST
1: 7244 MARSDEN ST
2: 11009 KIPLING LN
1: 1827 PORTER ST
1: 1324 LOCUST ST
1: 6236 CLEARVIEW ST
1: 2023 E SUSQUEHANNA AVE
2: 1342 RODMAN ST
1: 1341 S PAXON ST
1: 2941 N 12TH ST
1: 4425 N 5TH ST
2: 1252 N 29TH ST
2: 2340 TURNER ST
1: 1009 S 10TH ST
1: 1237 W TIOGA ST
1: 309 W CHAMPLOST AVE
1: 745 EMILY ST
1: 218 N WILTON ST
1: 922 N BAMBREY ST
1: 3522 ARTHUR ST
1: 2516 S 19TH ST
1: 1112 GRANT AVE
1: 200 ERNEST WAY
2: 5129 CHESTER AVE
1: 7207 BROUS AVE
1: 4602 ST DAVIDS ST
1: 8800 DANBURY ST
1: 724 SHIRLEY ST
1: 2104 SPRUCE ST
1: 11941 COVERT RD
1: 3020 WILLITS RD
2: 2837 WINCHESTER AVE
1: 4840 N HUTCHINSON ST
1: 1421 S RINGGOLD ST
1: 4019 PEARSON AVE
2: 2350 TURNER ST
1: 1329 S 52ND ST
1: 1438 S 13TH ST
1: 459 N 53RD ST
1: 1525 S WILTON ST
2: 2319 TURNER ST
2: 2323 TURNER ST
1: 5834 FLORENCE AVE
2: 2337 TURNER ST
1: 2926 N STILLMAN ST
2: 2348 TURNER ST
1: 4736 N CAMAC ST
2: 2548 N HOWARD ST
1: 1017 GREENWICH ST
1: 18 S 51ST ST
1: 1510 E PASTORIUS ST
2: 2527 W DAKOTA ST
1: 1907 CONLYN ST
1: 207 W MOUNT PLEASANT AVE
1: 3373 HOLME AVE
1: 1326-28 N 05TH ST
1: 823 PENNOCK ST
2: 1800-18 N 4TH ST
2: 1801 N 5TH ST
2: 1817-23 N 5TH ST
1: 2036 CHURCH LN
1: 6721 LYNFORD ST
1: 436 E TULPEHOCKEN ST
1: 2867 N LEE ST
1: 1208 E MOUNT AIRY AVE
1: 527 E CLARKSON AVE
1: 5557 OSAGE AVE
1: 1201-15 FITZWATER ST
1: 2079 WILMOT ST
1: 12636 MEDFORD RD
1: 2101 MARKET ST
1: 1412 S BEULAH ST
1: 4537 TAMPA ST
1: 1027-31 ARCH ST
1: 4646 REACH ST
1: 7020 HEGERMAN ST
1: 8339 WALKER ST
1: 333 N HOLLY ST
1: 1304 S 54TH ST
2: 8341 WALKER ST
2: 1701 GERMANTOWN AVE
1: 6419 BELFIELD AVE
2: 1325 WAKELING ST
1: 1323 WAKELING ST
2: 6210 N 13TH ST
1: 3575 LAFAYETTE ST
1: 51 N ASHMEAD PL
2: 2406 N BODINE ST
2: 2404 N BODINE ST
1: 1425 LOCUST ST
1: 2773 WELSH RD
1: 404 PLEASANT ST
1: 1009 GREENWICH ST
1: 1504 BEVERLY RD
1: 6735 YOCUM ST
1: 4231 MILL ST
1: 521 WILDER ST
1: 4858 MERION AVE
2: 2203 N 7TH ST
1: 1502 S 10TH ST
1: 2223 S BEECHWOOD ST
1: 884 N 66TH ST
1: 5825 ANDERSON ST
1: 1811 S NEWKIRK ST
1: 3130 MEMPHIS ST
1: 10103 NORTHEAST BLVD
2: 2402 N BODINE ST
1: 325 NANDINA ST
1: 2218 FAIRMOUNT AVE
1: 6333 MARTINS MILL RD
1: 2030 S 28TH ST
1: 7917 CRAIG ST
1: 2201 CHERRY ST
1: 9921 BUSTLETON AVE
1: 7018 W PASSYUNK AVE
1: 961 MARCELLA ST
1: 1804 W ROCKLAND ST
2: 232 W PENN ST
2: 2520 N DOVER ST
1: 207 PIERCE ST
1: 408 E WYOMING AVE
1: 2344 S CHADWICK ST
1: 920 N BAMBREY ST
2: 1328 RITNER ST
1: 6900 GARMAN ST
1: 1509 N DOVER ST
1: 2239 N GRATZ ST
1: 2215 CHRISTIAN ST
1: 3006 TEESDALE ST
1: 24 N ROBINSON ST
2: 20-22 BANK ST
2: 6812 CASTOR AVE
1: 188 W ONTARIO ST
2: 6810 CASTOR AVE
1: 1221 S 13TH ST
1: 2953 MC KINLEY ST
1: 192 SHAWMONT AVE
1: 2201 CHERRY ST
1: 12238 SWEET BRIAR RD
1: 5340 N 15TH ST
2: 1104 N HANCOCK ST
1: 2359 N CAMAC ST
2: 930 WOODBROOK LN
1: 2665 WEBB ST
1: 2939 GLENVIEW ST
1: 1154 S CLARION ST
1: 834 LAWLER ST
1: 1807 ADDISON ST
1: 622 ARTHUR ST
1: 1326 RITNER ST

1: 909 S 16TH ST
1: 4946 PINE ST
1: 5100 CONVENT LN
1: 1559 BEVERLY RD
1: 3109 WELSH RD
1: 1520 S CORLIES ST
1: 1709 WHARTON ST
1: 407 W MOUNT PLEASANT AVE
1: 2122 S 64TH ST
1: 7927 BUSTLETON AVE
1: 4727 SHEFFIELD AVE
1: 133 W WEAVER ST
1: 7023 VALLEY AVE
1: 648-50 N 33RD ST
1: 2415 S AMERICAN ST
1: 910 N FALLON ST
1: 2523 S SARTAIN ST
1: 4328 MITCHELL ST
1: 208 MC KEAN ST
1: 5239 C ST
1: 7126 RUTLAND ST
1: 1814 S 24TH ST
1: 4622 TACONY ST
2: 3301 N FRONT ST
1: 5861 CEDAR AVE
1: 1216 N REDFIELD ST
1: 2540 S 66TH ST
1: 5241 BEAUMONT ST
1: 2618 S 17TH ST
1: 7062 GRAYS AVE
1: 604-36 S WASHINGTON SQ
2: 1344 PALETHORP ST
1: 3512 VAUX ST
1: 2534 BERBRO ST
1: 450 S 55TH ST
1: 2313 RHAWN ST
1: 4469 RICHMOND ST
1: 707 CLYMER ST
1: 2824 CEDAR ST
1: 3373 RED LION RD
1: 3128 KNORR ST
1: 2946 N 25TH ST
2: 9622 HOFF ST
1: 2601 PENNSYLVANIA AVE
1: 3058 AMBER ST
1: 648 VAN KIRK ST
2: 2547 S BROAD ST
1: 1937 WATKINS ST
1: 3013 S 68TH ST
2: 2815 KENSINGTON AVE
2: 1732 S 58TH ST
1: 5107 WALKER ST
1: 2771 HELEN ST
1: 2507 MASTER ST
1: 429 W ONTARIO ST
1: 5628 MALCOLM ST
1: 2317 S 17TH ST
1: 768 E HILTON ST
2: 5701 KINGSESSING AVE
1: 6047 FRANKFORD AVE
1: 1613 CHESAPEAKE PL
1: 4424 RIVERVIEW LN
1: 1801 S DOVER ST
1: 2800 RAWLE ST
1: 545 N PAXON ST
1: 299 SHAWMONT AVE
1: 205 HERMITAGE ST
1: 723 DISSTON ST
2: 3916 ASPEN ST
1: 2647 N STANLEY ST
1: 3402 OAKMONT ST
1: 2015 N MARSTON ST
1: 3121 GUILFORD ST
2: 1301 BRIGHTON ST
1: 6655 N 20TH ST
1: 3254 EMERY ST
1: 633 S 49TH ST
1: 7220 HANFORD ST
1: 333 BELGRADE ST
2: 2131 N DARIEN ST
1: 2843 W MONTGOMERY AVE
1: 1986 ASHLEY RD
1: 1019 BRIGHTON ST
1: 2716 N OPAL ST
1: 1342 N ALLISON ST
1: 444 N 4TH ST
1: 647 BROOKLYN ST
1: 1821 BENSON ST
1: 2138 SEARS ST
1: 1930 E SOMERSET ST
1: 2353 S LAMBERT ST
1: 1356 HARRISON ST
1: 4945 PINE ST
1: 1810 FOX CHASE RD
1: 1947 INDEPENDENCE ST
1: 525 E COURTLAND ST
1: 5843 N PENN ST
1: 5629 MUSGRAVE ST
1: 12544 DEERRUN RD
1: 1519 N 27TH ST
1: 5454 W BERKS ST
2: 2118-20 E DAUPHIN ST
1: 1931 ANNIN ST
1: 1900 HAMILTON ST
1: 1754 S CHADWICK ST
1: 1020 KNORR ST
1: 3517 TUSCANY DR
1: 4153 ELBRIDGE ST
2: 1824 RIDGE AVE
1: 1525 S 29TH ST
1: 3752 N PERCY ST
1: 1315 E BERKS ST
1: 6928 RUTLAND ST
1: 345 AVON ST
2: 1307 N 52ND ST
1: 8030 TEMPLE RD
1: 160 BENJAMIN CT
2: 4127 WESTMINSTER AVE
1: 67104 DELAIRE LANDING RD
2: 2724-28 E CAMBRIA ST
1: 2 LEVERINGTON AVE
1: 7233 OXFORD AVE
1: 6241 GILLESPIE ST
1: 219-29 S 18TH ST
1: 5953 HORROCKS ST
2: 2855 SALMON ST
1: 2408 WAVERLY ST
2: 2003 N 9TH ST
2: 6350-54 OGONTZ AVE
1: 2641 S ALDER ST
1: 202-10 W RITTENHOUSE SQ
1: 6115 ROSS ST
1: 2401 PENNSYLVANIA AVE
1: 3210 N 33RD ST
1: 7542 FAYETTE ST
1: 1825 ASHURST RD
1: 2122 E DAUPHIN ST
1: 512 E QUEEN LN
1: 5737 WALTON AVE
1: 5846 ALTER ST
1: 5654 RIDGEWOOD ST
1: 3308 FAIRMOUNT AVE
1: 5832 BEAUMONT ST
1: 2807 RYERSON PL
2: 2857 SALMON ST
1: 1203 W HILTON ST
1: 6312 N NORWOOD ST
1: 169 HANSBERRY ST
1: 1624 E EYRE ST
1: 1743 N 25TH ST
1: 4608 LONGSHORE AVE
2: 2851 SALMON ST
1: 4413 PRINCETON AVE
1: 4320 DECATUR ST
2: 1742 N BODINE ST
1: 12799 DUNKS FERRY RD
1: 4096 BALWYNNE PARK RD
2: 2613 E LETTERLY ST
2: 2732 E CAMBRIA ST
1: 7437 SPRAGUE ST
1: 1830 STANWOOD ST
2: 2734 E CAMBRIA ST
1: 10223 RUBIN LN
2: 2853 SALMON ST
2: 3705 N BROAD ST
2: 2730 E CAMBRIA ST
1: 1443 N HOLLYWOOD ST
2: 3300-08 MANTUA AVE
1: 3238 FORDHAM RD
1: 1859 N TAYLOR ST
1: 1728 E TULPEHOCKEN ST
1: 327 ROBBINS ST
2: 2546 N HOWARD ST
1: 5835 MASTER ST
1: 2101-17 CHESTNUT ST
1: 2516 W ARIZONA ST
1: 919 N 5TH ST
1: 1225 W WINGOHOCKING ST
1: 5640 WHITBY AVE
2: 3217 RORER ST
1: 4325 DISSTON ST
1: 242 RECTOR ST
1: 237 E HAINES ST
2: 2300 NAPOLI WAY
1: 5708 KINGSESSING AVE
1: 3243 N HOWARD ST
1: 2904 WESTMONT ST
1: 233 S 6TH ST
1: 106-12 JEFFERSON ST
1: 2320 S ITHAN ST
1: 1332 KINGS PL
1: 2818 OVERINGTON ST
1: 3959 N FAIRHILL ST
1: 3414 SALMON ST
2: 243 W GEORGE ST
1: 3359 AINSLIE ST
1: 126 DEARBORN ST
1: 204 N 58TH ST
1: 2840 N 11TH ST
1: 4226 ALDINE ST
1: 1 ACADEMY CIR
1: 3114 UNRUH AVE
1: 3961 N FAIRHILL ST
2: 7116 GERMANTOWN AVE
2: 2930 KIP ST
1: 839 E WILLARD ST
1: 1302 MC KEAN ST
2: 245 W GEORGE ST
1: 2641 S 13TH ST
1: 2881 HEDLEY ST
1: 371 CONARROE ST
1: 4446 EDGEMONT ST
1: 827 ALTER ST
1: 5710 TULIP ST
1: 7113 GUYER AVE
2: 8041 WOOLSTON AVE
1: 2776 KIRKBRIDE ST
1: 728 LANDIS ST
1: 548 W WESTMORELAND ST
1: 4634 PRIMROSE RD
1: 1726 N 51ST ST
1: 629 N 36TH ST
1: 4140 LONGSHORE AVE
1: 629 BRILL ST
2: 11990 AUDUBON PL
1: 5853 N MARSHALL ST
1: 1232 RIPLEY ST
1: 326 ROSEMAR ST
2: 440 W BRINGHURST ST
1: 1237 S ALDER ST
1: 3317 GLENVIEW ST
1: 4415 SHELMIRE AVE
2: 7112-14 GERMANTOWN AVE
1: 2537 S CARLISLE ST
1: 1539 SOUTH ST
1: 3119 JUDSON ST
1: 2052 E STELLA ST
1: 205 W MEADE ST
1: 1551 N ALDEN ST
2: 2222 PAGE ST
1: 1808 N 26TH ST
1: 9020 PINE RD
1: 4426 OLD YORK RD
1: 6337 SYLVESTER ST
1: 1639 S HANCOCK ST
1: 6462 CHEW AVE
2: 647 N 11TH ST
1: 664 E ONTARIO ST
1: 4364 BERMUDA ST
1: 7116 WHITAKER AVE
1: 7521 N 21ST ST
1: 1 ACADEMY CIR
2: 2524 DIAMOND ST
2: 2502 DIAMOND ST
1: 3241 ST VINCENT ST
1: 6023 CHARLES ST
2: 9995 HALDEMAN AVE
1: 155 E ALBANUS ST
1: 7924 COTTAGE ST
1: 1010 S FRAZIER ST
1: 2400 S 21ST ST
1: 147 HARVEY ST
1: 2941 ROSEHILL ST
1: 3221 BRIGHTON ST
1: 5549 WEBSTER ST
1: 1259 N MYRTLEWOOD ST
2: 789 N PRESTON ST
1: 2953 N 7TH ST
1: 3420 N 21ST ST
1: 161 FARISTON DR
1: 1228-32 ARCH ST
1: 1925 KIMBALL ST
2: 922 SEQUOIA RD
1: 2015 WILDER ST
1: 3642 N PERCY ST
2: 2904 N HANCOCK ST
1: 7745 E ROOSEVELT BLVD
1: 3142 BOISE PL
1: 2944 SECANE DR
2: 2619 POTTER ST
1: 1723 W ONTARIO ST
2: 1232 W RUSH ST
1: 6943 CEDAR PARK AVE
1: 1712 W WINGOHOCKING ST
2: 3652 N 11TH ST
1: 12402 WYNDOM RD
2: 5736 LUDLOW ST
1: 400 DALY ST
1: 4929 OGDEN ST
1: 2745 N HOWARD ST
2: 1312 W CAMBRIA ST
1: 6339 ARDLEIGH ST
2: 3435-45 N 5TH ST
1: 2417 N CHADWICK ST
2: 4720 MANSION ST
1: 3119 REACH ST
2: 1117 KENT LN
2: 3410 N FAIRHILL ST
1: 604 WALNUT LN
1: 5222 CHURCH RD
2: 2529 MASCHER ST
2: 5134 WARREN ST
1: 2409 E FIRTH ST
2: 213 W SERGEANT ST
1: 2760 TOLBUT ST
1: 7820 FAYETTE ST
1: 5307 N 12TH ST
1: 201-59 N 8TH ST
1: 2214 MOORE ST
2: 5817 HENRY AVE
1: 2108 TYSON AVE
1: 10912 KIRBY DR
1: 118 E TULPEHOCKEN ST
1: 728 S 20TH ST
1: 2423 RITNER ST
1: 5009 N 4TH ST
1: 4419 WAYNE AVE
1: 1009 CLINTON ST
1: 583 CONARROE ST
2: 2365-67 ORTHODOX ST
1: 2359 ORTHODOX ST
1: 3272 FORDHAM RD
1: 3331 KAYFORD CIR
1: 4011 OAKMONT ST
1: 2731 S SHERIDAN ST
1: 2101 MARKET ST
1: 4650 SHELDON ST
2: 1452 N NEWKIRK ST
1: 5441 SPRUCE ST
1: 8926 RIDGE AVE
2: 428-30 W THOMPSON ST
1: 19 COUNTRY LANE WAY
1: 1741 N STILLMAN ST
1: 10213 W KESWICK RD
1: 426 CANTRELL ST
1: 428 CANTRELL ST
1: 430 CANTRELL ST
1: 1512 MOORE ST
1: 7560 GREENHILL RD
1: 2112 ST ALBANS ST
1: 9906 BUSTLETON AVE
2: 1338 S OPAL ST
1: 2101-17 CHESTNUT ST
1: 2030 AIKENS ST
1: 902 MURDOCH RD
1: 4609 PRINCETON AVE
2: 3027 N WATER ST
2: 321 BAINBRIDGE ST
2: 9321 ALTON ST
1: 5821 OXFORD AVE
1: 5521 LUDLOW ST
1: 1638 PACKER AVE
1: 141 S RUBY ST
1: 481 FLAMINGO ST
1: 6248 N 17TH ST
1: 12158 RAMBLER RD
1: 1927 MORRELL ST
1: 336 N WILTON ST
1: 3400 MERIDIAN ST
1: 5950 PINE ST
1: 3010 DERRY TER
1: 4226 MALTA ST
1: 2439 S PHILIP ST
1: 328 N REDFIELD ST
2: 2361 N CAMAC ST
1: 912 FRIENDSHIP ST
1: 3410 RYAN AVE
1: 4326 POTTER ST
1: 2812 S SIMPSON ST
1: 1723 N BOUVIER ST
1: 8141 LISTER ST
1: 5310 MASTER ST
1: 6128 N LAMBERT ST
1: 426 N GROSS ST
1: 2742 WATERLOO ST
1: 3219 N NEWKIRK ST
1: 4768 SILVERWOOD ST
1: 109 HANSBERRY ST
1: 7356 N BOUVIER ST
1: 6521 N LAMBERT ST
1: 1747 N STILLMAN ST
1: 1723 N CREIGHTON ST
2: 4416 LANCASTER AVE
1: 6633 TORRESDALE AVE
2: 7807 FARNSWORTH ST
1: 631 E FLORA ST
1: 2435 N BOUVIER ST
1: 8310 ALICIA ST
1: 2218 MASTER ST
1: 4512 N CAMAC ST
1: 3026 TREMONT ST
2: 5212 ARENDELL AVE
1: 1051 GRANT AVE
1: 5723 CHEW AVE
1: 5456 HERMIT LN
1: 4913 RENO ST
1: 2636 EMERALD ST
2: 1113 E CHELTEN AVE
1: 4218 PECHIN ST
1: 2079 E TIOGA ST
1: 11805 STEVENS RD
1: 5448 CHARLES ST
1: 2067 E STELLA ST
1: 1556 DEVEREAUX AVE
2: 4525-37 WALNUT ST
1: 8030 DITMAN ST
1: 2603 E SOMERSET ST
1: 1408 E SUSQUEHANNA AVE
1: 1113 TYSON AVE
1: 250 S ST BERNARD ST
1: 1256 N FRAZIER ST
1: 5940 LATONA ST
1: 3244 HOPE ST
1: 926 N 15TH ST
1: 5639 WOODCREST AVE
1: 1916 EMERSON ST
1: 5440 WALKER ST
2: 1533 LATONA ST
2: 8797 FRANKFORD AVE
1: 621 EARP ST
1: 2622 W CUMBERLAND ST

1: 1745 DOUNTON ST
1: 836 MERCER ST
1: 1822 STANWOOD ST
1: 4708 HAWTHORNE ST
1: 2233 FONTAIN ST
1: 2729 N GARNET ST
1: 1318 HALE ST
1: 12007 TYRONE RD
1: 1444 GERMANTOWN AVE
2: 1711 FERNON ST
2: 2420 RIDGE AVE
1: 1233 FULLER ST
1: 8800 BLUE GRASS RD
1: 1614 ELLSWORTH ST
1: 608 HERMITAGE ST
2: 700-06 CALEDONIA ST
1: 32 N ITHAN ST
1: 2337 E FLETCHER ST
1: 2502 S AMERICAN ST
1: 7601 CRITTENDEN ST
1: 1547 S 28TH ST
1: 2926 NICHOLAS ST
1: 6446 MORRIS PARK RD
1: 3664 FRANKFORD AVE
1: 9281 ANGUS PL
1: 3154 DERRY RD
1: 5228 N FRONT ST
1: 707 MARCHMAN RD
1: 5024 GREENE ST
1: 1915 N DARIEN ST
1: 1713 W OXFORD ST
1: 8029 ALBION ST
2: 107 E DUVAL ST
1: 6039 COLGATE ST
1: 4213 PALMETTO ST
1: 2927 FANSHAWE ST
1: 2216 E THOMPSON ST
1: 418 E ALLENS LN
1: 1541 N EDGEWOOD ST
1: 1228 S 51ST ST
1: 5005 MC KEAN AVE
1: 908 MARLYN RD
1: 4517 N HICKS ST
1: 1958 GRANITE ST
1: 1247 N DOVER ST
2: 2247 WILDER ST
1: 5406 ADDISON ST
1: 3435 N HOWARD ST
1: 113 W COURTLAND ST
1: 9317 TROUT RD
1: 217 STEARLY ST
1: 1615 S 28TH ST
1: 623 E RAYMOND ST
1: 1170 S DARIEN ST
1: 3615 MERIDIAN ST
1: 1035 E CHELTEN AVE
2: 5401-15 BALTIMORE AVE
1: 7531 BUIST AVE
1: 1601 LOCUST ST
1: 521 MONTROSE ST
1: 5019 TULIP ST
1: 1534 W TIOGA ST
1: 1326-42 SPRUCE ST
1: 814 WINTON ST
1: 3564 TETON RD
1: 6332 LARGE ST
1: 4523 SMICK ST
2: 1320 W BRISTOL ST
1: 3635 E THOMPSON ST
1: 182 GAY ST
1: 638 ROXBOROUGH AVE
1: 1850 LINDLEY AVE
1: 38 N FRONT ST
1: 232 PELHAM RD
1: 210 LOCUST ST
1: 2610 ASH ST
1: 5714 BELMAR ST
1: 1231 S 32ND ST
1: 4544 N CAMAC ST
1: 1121 E PALMER ST
1: 5531 WHITBY AVE
2: 1701 FULLER ST
1: 925 CROSS ST
1: 3238 N CARLISLE ST
1: 740 E THAYER ST
1: 2461 N 51ST ST
1: 2610 EDGEMONT ST
2: 2122 N 9TH ST
1: 1233 S 49TH ST
1: 6970 CEDAR PARK AVE
1: 2001 HAMILTON ST
2: 9330 EDMUND ST
1: 1920 LANSING ST
1: 1814 S BANCROFT ST
1: 3403 N 17TH ST
1: 3128 N 32ND ST
1: 2544 S 11TH ST
2: 2302 N PARK AVE
1: 3031 CAMBRIDGE ST
2: 1640 EDGLEY ST
1: 1531 COTTMAN AVE
1: 470 LOCUST AVE
2: 2300 N PARK AVE
1: 2120 MASTER ST
2: 2304 N PARK AVE
1: 6300 SHERWOOD RD
1: 5536 W GIRARD AVE
1: 2122 SPRUCE ST
1: 2401 PENNSYLVANIA AVE
1: 5834 NORFOLK ST
1: 1333 N 8TH ST
1: 7215 EMLEN ST
1: 8004 LEXINGTON AVE
1: 6234 CARPENTER ST
2: 8048 PINE RD
1: 11747 TELFAIR RD
1: 3810 N 16TH ST
1: 2535 PICKWICK ST
2: 7800 BUSTLETON AVE
1: 312 CARSON ST
1: 1221 S 2ND ST
1: 12022 TYRONE RD
1: 5322 W COLUMBIA AVE
1: 2719 N 46TH ST
1: 2230 GRAHAM ST
1: 416 E THOMPSON ST
1: 2745 STEVENS ST
2: 2545 FRANKFORD AVE
1: 6751 N 13TH ST
1: 2640 E ALLEGHENY AVE
1: 6105 LOCUST ST
1: 3336 PRINCETON AVE
1: 213 W RUSCOMB ST
1: 324 KATER ST
1: 2555 S ALDER ST
1: 2201 E HUNTINGDON ST
1: 1603 S 24TH ST
1: 2001 BAINBRIDGE ST
1: 1215 STIRLING ST
2: 108-14 S 23RD ST
1: 2427 N 2ND ST
1: 5731 LEONARD ST
2: 4330-32 MAIN ST
1: 7108 DOREL ST
1: 1530 PORTER ST
1: 527 N FELTON ST
1: 513 SANGER ST
1: 2868 GAUL ST
2: 2301 CHESTNUT ST
1: 4325 N 17TH ST
1: 4526 LORING ST
1: 4505 BELGRADE ST
2: 4499 S BROAD ST
1: 437 LEVERINGTON AVE
1: 364 E GORGAS LN
1: 122 W SPENCER ST
1: 2460 N NATRONA ST
1: 149 N 54TH ST
1: 6751 N 13TH ST
1: 615 ROBBINS ST
1: 120 W DURHAM ST
1: 4445 MORRIS ST
1: 7212 LARGE ST
1: 5954 AGUSTA ST
1: 1235 S JUNIPER ST
1: 5664 BOYER ST
1: 5510 CEDAR AVE
1: 6313 EASTWOOD ST
1: 965 SANGER ST
1: 8425 LORETTO AVE
1: 1219 GILHAM ST
1: 85 W CHAMPLOST AVE
1: 3838 N 8TH ST
1: 1615 S 21ST ST
1: 6751 N 13TH ST
1: 1945 S REDFIELD ST
1: 2506 S 76TH ST
1: 547 N SIMPSON ST
1: 6751 N 13TH ST
1: 3323 GURLEY RD
1: 920 E STAFFORD ST
1: 2410 N 16TH ST
1: 4244 ELSINORE ST
1: 2142 LARDNER ST
2: 2164 E GORDON ST
1: 612 CATHARINE ST
1: 1241 ADAMS AVE
1: 1701-15 LOCUST ST
1: 2137 SHELMIRE AVE
1: 4170 SALEM ST
1: 510 S 7TH ST
1: 865 CARVER ST
1: 12625 BISCAYNE DR
1: 418 E THOMPSON ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 479 HARMON RD
1: 1045 VAN KIRK ST
1: 6751 N 13TH ST
1: 632 CARPENTER ST
2: 1201 NORMANDY PL
1: 8033 ALBION ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 521 TITAN ST
1: 1529 S CORLIES ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 58103 DELAIRE LANDING RD
1: 135 RITNER ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 4545 N 13TH ST
1: 1642 N GRATZ ST
1: 6751 N 13TH ST
1: 185 MARKLE ST
1: 1600-04 N 2ND ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 1930 N HOWARD ST
1: 5763 N WOODSTOCK ST
1: 6751 N 13TH ST
1: 3534 OAKHILL RD
1: 6751 N 13TH ST
1: 6751 N 13TH ST
1: 8949 DEWEES ST
1: 3439 TUDOR ST
1: 6751 N 13TH ST

KeyboardInterrupt:

In [257]:
pluto_update.loc[pluto_update['ADDRESS']=='4326 POTTER ST'][['GSF']]

        GSF
353206  NaN

In [272]:
df_sub[df_sub['ADDRESS']=='2330 SANSOM ST'][['BLDG CODE', 'BLDG CAT','SALE DATE', 'SALE PRICE', 'UNIT']]

                   BLDG CODE       BLDG CAT  SALE DATE  SALE PRICE  UNIT
172  RES CONDO 2 STY MASONRY  Single Family 2019-11-25   3500000.0   NaN
174  COM CONDO 1 STY MASONRY     Commercial 2019-11-25   3500000.0   NaN
177  RES CONDO 2 STY MASONRY  Single Family 2019-11-25   3500000.0   NaN

In [277]:
set([1,2,3]) == set([3,2,1])

True

In [278]:
pluto.shape

(488410, 53)

In [280]:
pluto['PARCEL ID'].unique().shape

(488410,)

In [283]:
pluto[pluto['ADDRESS']=='6751 N 13TH ST'][['ADDRESS', 'PARCEL ID', 'SALE DATE', 'SALE PRICE']]

               ADDRESS  PARCEL ID  SALE DATE  SALE PRICE
136014  6751 N 13TH ST  888610063 2017-05-19        1600
136019  6751 N 13TH ST  888610019 2016-11-28        1600
136152  6751 N 13TH ST  888610087 2016-01-05        3100
136149  6751 N 13TH ST  888610081 2015-09-09        3100
136018  6751 N 13TH ST  888610017 2015-04-17        6500
136287  6751 N 13TH ST  888610037 2015-02-17        5000
136289  6751 N 13TH ST  888610041 2015-02-17        1800
136020  6751 N 13TH ST  888610021 2015-02-17        4200
136291  6751 N 13TH ST  888610045 2015-02-04        1600
136141  6751 N 13TH ST  888610075 2015-01-13        4000
136286  6751 N 13TH ST  888610093 2015-01-13        2200
136023  6751 N 13TH ST  888610071 2014-12-05        2000
136148  6751 N 13TH ST  888610035 2014-11-29        4400
136140  6751 N 13TH ST  888610073 2014-11-29        4000
136144  6751 N 13TH ST  888610025 2014-03-07        6700
136145  6751 N 13TH ST  888610027 2012-09-27       19400
136143  6751 N 13TH ST  888610079 2010-10-28       21000
261021  6751 N 13TH ST  888610023 2010-02-08       14000
136012  6751 N 13TH ST  888610059 2007-03-29       22000
136013  6751 N 13TH ST  888610061 2006-09-20       17000
136295  6751 N 13TH ST  888610099 2005-11-25       16000
136015  6751 N 13TH ST  888610065 2005-04-21       15000
135894  6751 N 13TH ST  888610011 2005-03-18       10300
136285  6751 N 13TH ST  888610091 2003-01-09       15700
136293  6751 N 13TH ST  888610095 2002-12-20       15000
136292  6751 N 13TH ST  888610047 2002-12-10        9000
136022  6751 N 13TH ST  888610069 2002-11-08       49429
134212  6751 N 13TH ST  888610107 2002-11-08       25503
136288  6751 N 13TH ST  888610039 2002-11-08       49429
135891  6751 N 13TH ST  888610003 2002-11-08       49429
136142  6751 N 13TH ST  888610077 2002-11-08       49429
135890  6751 N 13TH ST  888610001 2002-11-07       14900
136147  6751 N 13TH ST  888610033 2002-11-05       12000
136017  6751 N 13TH ST  888610015 2002-08-23        9900
136296  6751 N 13TH ST  888610101 2002-08-05       12400
134211  6751 N 13TH ST  888610105 2002-07-25        9000
136297  6751 N 13TH ST  888610103 2002-05-21       14900
135892  6751 N 13TH ST  888610007 2002-04-19        9000
136146  6751 N 13TH ST  888610031 2002-04-19        9000
136290  6751 N 13TH ST  888610043 2001-12-12        9000
136294  6751 N 13TH ST  888610097 2001-10-18        9000
136150  6751 N 13TH ST  888610083 2001-09-13       11500
136016  6751 N 13TH ST  888610013 2001-07-27        9000
136011  6751 N 13TH ST  888610057 2000-07-19       34000
135895  6751 N 13TH ST  888610053 2000-07-19       34000
135893  6751 N 13TH ST  888610009 2000-07-19       34000
136151  6751 N 13TH ST  888610085 2000-07-19       34000
446699  6751 N 13TH ST  888610055 1998-08-28       54500
135889  6751 N 13TH ST  888610051 1998-07-09       53000
150831  6751 N 13TH ST  888610089 1998-04-30       49000
136021  6751 N 13TH ST  888610067 1998-03-30       51000
344080  6751 N 13TH ST  888610029 1998-01-13       49000
238333  6751 N 13TH ST  888610005 1997-07-11       32990
204918  6751 N 13TH ST  888610049 1997-04-28           1

In [284]:
df_sub[df_sub['ADDRESS']=='6751 N 13TH ST'][['ADDRESS', 'PARCEL ID', 'SALE DATE', 'SALE PRICE']]

             ADDRESS  PARCEL ID  SALE DATE  SALE PRICE
969   6751 N 13TH ST  888610065 2019-11-13   1000000.0
999   6751 N 13TH ST  888610043 2019-11-13   1000000.0
1015  6751 N 13TH ST  888610059 2019-11-13   1000000.0
1019  6751 N 13TH ST  888610031 2019-11-13   1000000.0
1035  6751 N 13TH ST  888610021 2019-11-13   1000000.0
1036  6751 N 13TH ST  888610105 2019-11-13   1000000.0
1037  6751 N 13TH ST  888610087 2019-11-13   1000000.0
1038  6751 N 13TH ST  888610085 2019-11-13   1000000.0
1039  6751 N 13TH ST  888610045 2019-11-13   1000000.0
1042  6751 N 13TH ST  888610049 2019-11-13   1000000.0
1046  6751 N 13TH ST  888610051 2019-11-13   1000000.0
1047  6751 N 13TH ST  888610081 2019-11-13   1000000.0
1048  6751 N 13TH ST  888610001 2019-11-13   1000000.0
1051  6751 N 13TH ST  888610013 2019-11-13   1000000.0
1052  6751 N 13TH ST  888610011 2019-11-13   1000000.0
1053  6751 N 13TH ST  888610039 2019-11-13   1000000.0
1056  6751 N 13TH ST  888610095 2019-11-13   1000000.0
1057  6751 N 13TH ST  888610035 2019-11-13   1000000.0
1060  6751 N 13TH ST  888610009 2019-11-13   1000000.0
1063  6751 N 13TH ST  888610003 2019-11-13   1000000.0
1064  6751 N 13TH ST  888610033 2019-11-13   1000000.0
1065  6751 N 13TH ST  888610107 2019-11-13   1000000.0
1068  6751 N 13TH ST  888610057 2019-11-13   1000000.0
1070  6751 N 13TH ST  888610053 2019-11-13   1000000.0
1071  6751 N 13TH ST  888610047 2019-11-13   1000000.0
1074  6751 N 13TH ST  888610097 2019-11-13   1000000.0
1075  6751 N 13TH ST  888610071 2019-11-13   1000000.0
1077  6751 N 13TH ST  888610101 2019-11-13   1000000.0
1078  6751 N 13TH ST  888610103 2019-11-13   1000000.0
1079  6751 N 13TH ST  888610093 2019-11-13   1000000.0
1080  6751 N 13TH ST  888610075 2019-11-13   1000000.0
1083  6751 N 13TH ST  888610007 2019-11-13   1000000.0
1088  6751 N 13TH ST  888610015 2019-11-13   1000000.0
1089  6751 N 13TH ST  888610025 2019-11-13   1000000.0
1090  6751 N 13TH ST  888610091 2019-11-13   1000000.0
1091  6751 N 13TH ST  888610041 2019-11-13   1000000.0
1092  6751 N 13TH ST  888610063 2019-11-13   1000000.0
1094  6751 N 13TH ST  888610099 2019-11-13   1000000.0
1096  6751 N 13TH ST  888610037 2019-11-13   1000000.0
1097  6751 N 13TH ST  888610069 2019-11-13   1000000.0
1101  6751 N 13TH ST  888610019 2019-11-13   1000000.0
1102  6751 N 13TH ST  888610017 2019-11-13   1000000.0