In [1]:
import pandas as pd
import numpy as np
import io
import requests
from datetime import datetime

In [2]:
url = 'https://phl.carto.com/api/v2/sql?q=SELECT+*,+ST_Y(the_geom)+AS+lat,+ST_X(the_geom)+AS+lng+FROM+opa_properties_public&filename=opa_properties_public&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator'
df = pd.read_csv(url)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (1,3,10,28,29,30,31,32,33,70) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [526]:
### new columns
added_columns = [
    '# UNITS',
    'REIS Submarket',
    'CITY',
    'STATE',
    'RESI',
    'CONDO',
    'UNIT',
    'COMM',
    'TOT ASSD $',
    'RE TAXES',
]

### OVERWRITE instructions for the original data file
### these instructions could be manually altered  
rename_dict = {
    'number_of_rooms': {
        'delete': 0,
        'new_name': '# ROOMS',
    },
    'assessment_date': {
        'delete': 0,
        'new_name': 'assessment_date',
    },
    'beginning_point': {
        'delete': 1,
    },
    'book_and_page': {
        'delete': 1,
    },
    'building_code': {
        'delete': 1,
    },
    'building_code_description': {
        'delete': 0,
        'new_name': 'BLDG CODE',
    },
    'category_code': {
        'delete': 1,
    },
    'category_code_description': {
        'delete': 0,
        'new_name': 'BLDG CAT',
    },
    'census_tract': {
        'delete': 1,
    },
    'central_air': {
        'delete': 0,
        'new_name': 'CENTRAL AIR',
    },
    'cross_reference': {
        'delete': 1,
    },
    'date_exterior_condition': {
        'delete': 0,
        'new_name': 'EXT CONDITION DATE',
    },
    'depth': {
        'delete': 0,
        'new_name': 'LOT DEPTH',
    },
    'exempt_building': {
        'delete': 0,
        'new_name': 'BLDG EXEMPT',
    },
    'exempt_land': {
        'delete': 0,
        'new_name': 'LAND EXEMPT',
    },
    'exterior_condition': {
        'delete': 0,
        'new_name': 'EXT CONDITION',
    },
    'fireplaces': {
        'delete': 0,
        'new_name': '# FIREPLACE',
    },
    'frontage': {
        'delete': 0,
        'new_name': 'LOT FRONTAGE',
    },
    'fuel': {
        'delete': 1,
    },
    'garage_spaces': {
        'delete': 0,
        'new_name': 'GARAGE',
    },
    'garage_type': {
        'delete': 0,
        'new_name': 'GARAGE TYPE',
    },
    'general_construction': {
        'delete': 1,
    },
    'geographic_ward': {
        'delete': 1,
    },
    'homestead_exemption': {
        'delete': 0,
        'new_name': 'homestead_exemption',
    },
    'house_extension': {
        'delete': 1,
    },
    'house_number': {
        'delete': 1,
    },
    'interior_condition': {
        'delete': 0,
        'new_name': 'INT CONDITION',
    },
    'location': {
        'delete': 0,
        'new_name': 'ADDRESS',
    },
    'mailing_address_1': {
        'delete': 1,
    },
    'mailing_address_2': {
        'delete': 1,
    },
    'mailing_care_of': {
        'delete': 1,
    },
    'mailing_city_state': {
        'delete': 0,
        'new_name': 'OWNER CITY',
    },
    'mailing_street': {
        'delete': 0,
        'new_name': 'OWNER ADDRESS',
    },
    'mailing_zip': {
        'delete': 0,
        'new_name': 'OWNER ZIP',
    },
    'market_value': {
        'delete': 0,
        'new_name': 'MARKET VALUE',
    },
    'market_value_date': {
        'delete': 1,
    },
    'number_of_bathrooms': {
        'delete': 0,
        'new_name': '# BATH',
    },
    'number_of_bedrooms': {
        'delete': 0,
        'new_name': '# BED',
    },
    'basements': {
        'delete': 0,
        'new_name': 'BASEMENT',
    },
    'number_stories': {
        'delete': 0,
        'new_name': '# FLOORS',
    },
    'off_street_open': {
        'delete': 0,
        'new_name': 'off_street_open'
    },
    'other_building': {
        'delete': 0,
        'new_name': 'BUILDING',
    },
    'owner_1': {
        'delete': 0,
        'new_name': 'OWNER',
    },
    'owner_2': {
        'delete': 1,
    },
    'parcel_number': {
        'delete': 0,
        'new_name': 'PARCEL ID',
    },
    'parcel_shape': {
        'delete': 0,
        'new_name': 'PARCEL SHAPE',
    },
    'quality_grade': {
        'delete': 1
    },
    'recording_date': {
        'delete': 0,
        'new_name': 'RECORDING DATE',
    },
    'registry_number': {
        'delete': 1
    },
    'sale_date': {
        'delete': 0,
        'new_name': 'SALE DATE',
    },
    'sale_price': {
        'delete': 0,
        'new_name': 'SALE PRICE',
    },
    'separate_utilities': {
        'delete': 1,
    },
    'sewer': {
        'delete': 1,
    },
    'site_type': {
        'delete': 1,
    },
    'state_code': {
        'delete': 1,
    },
    'street_code': {
        'delete': 1,
    },
    'street_designation': {
        'delete': 1,
    },
    'street_direction': {
        'delete': 1,
    },
    'street_name': {
        'delete': 1,
    },
    'suffix': {
        'delete': 1,
    },
    'taxable_building': {
        'delete': 0,
        'new_name': 'BLDG ASSD $',
    },
    'taxable_land': {
        'delete': 0,
        'new_name': 'LAND ASSD $',
    },
    'topography': {
        'delete': 0,
        'new_name': 'TOPOGRAPHY',
    },
    'total_area': {
        'delete': 0,
        'new_name': 'LAND SF',
    },
    'total_livable_area': {
        'delete': 0,
        'new_name': 'GSF',
    },
    'type_heater': {
        'delete': 1,
    },
    'unfinished': {
        'delete': 1,
    },
    'unit': {
        'delete': 0,
        'new_name': 'UNIT #',
    },
    'utility': {
        'delete': 1,
    },
    'view_type': {
        'delete': 0,
        'new_name': 'VIEW',
    },
    'year_built': {
        'delete': 0,
        'new_name': 'YEAR BUILT',
    },
    'year_built_estimate': {
        'delete': 1,
    },
    'zip_code': {
        'delete': 0,
        'new_name': 'ZIP',
    },
    'zoning': {
        'delete': 0,
        'new_name': 'ZONING',
    },
    'objectid': {
        'delete': 1,
    },
    'lat': {
        'delete': 0,
        'new_name': 'LATITUDE',
    },
    'lng': {
        'delete': 0,
        'new_name': 'LONGITUDE',
    },
}

process_dict = {
    'APT 2-4 UNITS': {
        '# UNITS': 3,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 0
    },
    'APTS 100+ UNITS': {
        '# UNITS': np.nan,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 0,
    },
    'APTS 51-100 UNITS': {
        '# UNITS': np.nan,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 0,
    },
    'APTS 5-50 UNITS': {
        '# UNITS': np.nan,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 0,
    },
    'DET CONV APT': {
        '# UNITS': np.nan,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 1,
    },
    'DETACHED SINGLE FAM': {
        '# UNITS': 1,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 1,
    },
    'ROW CONV/APT': {
        '# UNITS': 2,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 0,
    },
    'ROW SINGLE FAM': {
        '# UNITS': 1,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 1,
    },
    'S/D APT': {
        '# UNITS': np.nan,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 0,
    },
    'S-DETACHED SINGLE FAM': {
        '# UNITS': 1,
        'CONDO': 0,
        'BUILDING': 1,
        'UNIT': 1,
    }
}

log_dict = {
    'download_df': 'downloading new data... (takes a while, please be patient)',
    'pre_clean_df': 'pre-process the downloaded data (delete redundant columns, rename some columns)',
    'subset_df_date': 'subset recent data from the downloaded data',
    'load_old_PLUTO': 'loading old PLUTO data...',
    'update_PLUTO': 'update PLUTO with the new data, data merging... (takes a while, please be patient)',
    'process_PLUTO': 'final step: process the new pluto, almost ready',
    'export_new_PLUTO': 'exporting PLUTO, job done!',
}

instructions = {
    'added_columns': added_columns,
    'rename_dict': rename_dict,
    'process_dict': process_dict,
    'log_dict': log_dict,
}

In [524]:
def download_df():
    url = 'https://phl.carto.com/api/v2/sql?q=SELECT+*,+ST_Y(the_geom)+AS+lat,'\
          '+ST_X(the_geom)+AS+lng+FROM+opa_properties_public&filename=opa_properties_public'\
          '&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator'
    df = pd.read_csv(url)
    return df

def pre_clean_df(df, instructions):
    added_columns = instructions['added_columns']
    rename_dict = instructions['rename_dict']
    orig_columns = list(instructions['rename_dict'].keys())
    df_new = df.copy()[orig_columns]
    
    for column in orig_columns:
        if rename_dict[column]['delete'] == 1:
            df_new = df_new.drop([column], axis=1)
        if rename_dict[column]['delete'] == 0:
            df_new = df_new.rename(columns={column: rename_dict[column]['new_name']})
    
    df_new = df_new.reindex(df_new.columns.tolist()+added_columns, axis=1)\
                   .astype(dtype={'SALE DATE': str})
    
    df_new['SALE DATE'] = pd.to_datetime(df_new['SALE DATE'])
    df_new = df_new.sort_values(by=['SALE DATE'], ascending=False)\
                   .reset_index(drop=True)
    
    return df_new

def subset_df_date(df_new, deltadays):
    delta = pd.Timedelta(deltadays)
    df_new = df_new.sort_values(by=['SALE DATE'], ascending=False)
    latest_date = df_new['SALE DATE'].iloc[0]
    earliest_date = latest_date-delta
    keep_index = df_new[(df_new['SALE DATE']>=earliest_date) & 
                        (df_new['SALE DATE']<=latest_date)].index
    df_sub = df_new.iloc[keep_index]\
                   .reset_index(drop=True)
    return df_sub

def update_PLUTO(pluto, df_sub):
    pluto['SALE DATE'] = pd.to_datetime(pluto['SALE DATE'])
    pluto = pluto.sort_values(by=['SALE DATE'], ascending=False)

    pluto_addresses = pluto['ADDRESS'].tolist()
    sub_addresses = df_sub['ADDRESS'].tolist()
    pluto_update = pluto.copy()
    df_added = pd.DataFrame(columns=pluto.columns)
    df_sub = df_sub[pluto.columns]

    ### loop through all the addresses in the new data 
    ### to match the addresses in the PLUTO dataset 
    for address in sub_addresses:
        if address in pluto_addresses:
            added = df_sub[df_sub['ADDRESS']==address]['PARCEL ID']\
                        .values.tolist()
            original = pluto[pluto['ADDRESS']==address]['PARCEL ID']\
                        .values.tolist()
            
            # address in the PLUTO whose data need to be updated 
            if set(added) == set(original):
                pluto_update.at[
                    pluto_update[pluto_update['ADDRESS']==address].index,
                    ['GSF', 'SALE PRICE', 'SALE DATE']
                ] = df_sub[df_sub['ADDRESS']==address][['GSF', 'SALE PRICE', 'SALE DATE']]\
                      .values\
                      .tolist()
            else:
                commons = set(added).intersection(set(original))
                diffs = set(added) - set(original)

                for pid in list(commons):
                    pluto_update.at[
                        pluto_update[(pluto_update['ADDRESS']==address) & 
                                     (pluto_update['PARCEL ID']==pid)].index,
                        ['GSF', 'SALE PRICE', 'SALE DATE']
                    ] = df_sub[(df_sub['ADDRESS']==address) & 
                               (df_sub['PARCEL ID']==pid)][['GSF', 'SALE PRICE', 'SALE DATE']]\
                              .values\
                              .tolist()

                if not diffs:
                    # to account for the addresses that have multiple properties
                    added_rows = df_sub.loc[(df_sub['ADDRESS']==address) &
                                            (df_sub['PARCEL ID'].isin(list(diffs)))]
                    for i in range(added_rows.shape[0]):
                        df_added = df_added.append(added_rows.iloc[i], 
                                                   ignore_index=True)
        else:
            added_row = df_sub[df_sub['ADDRESS']==address]
            df_added = df_added.append(added_row, ignore_index=True)
    
    pluto_conc = pd.concat([pluto_update, df_added], ignore_index=True)
    
    def int_to_datetime(date):
        if type(date) == int:
            return pd.to_datetime(date)
        elif type(date) == pd._libs.tslibs.timestamps.Timestamp:
            return date
        else:
            return 'nan'
    
    pluto_conc['SALE DATE'] = pluto_conc['SALE DATE'].apply(lambda x: int_to_datetime(x))
    
    pluto_conc = pluto_conc.sort_values(by='SALE DATE', ascending=False)\
                           .reset_index(drop=True)

    return pluto_conc

def fill_loc(pluto_update):
    d_subm = dict(zip(pluto_update['ADDRESS'], pluto_update['REIS Submarket']))
    d_city = dict(zip(pluto_update['ADDRESS'], pluto_update['CITY']))
    d_state = dict(zip(pluto_update['ADDRESS'], pluto_update['STATE']))
    d_zip = dict(zip(pluto_update['ADDRESS'], pluto_update['ZIP']))
    
    p_subm = pd.DataFrame(d_subm.items(), columns=['ADDRESS', 'REIS Submarket'])
    p_city = pd.DataFrame(d_city.items(), columns=['ADDRESS', 'CITY'])
    p_state = pd.DataFrame(d_state.items(), columns=['ADDRESS', 'STATE'])
    p_zip = pd.DataFrame(d_zip.items(), columns=['ADDRESS', 'ZIP'])
    
    p_all = p_subm
    
    ps = [p_city, p_state, p_zip]
    for p_one in ps:
        p_all = pd.merge(p_all, p_one, on='ADDRESS', how='left')
    
    valid_cols = pluto_update.columns.difference(['REIS Submarket', 'CITY', 'STATE', 'ZIP'])
    pluto_loc_updated = pluto_update[valid_cols]
    
    pluto_loc_updated = pd.merge(pluto_loc_updated, p_all, on='ADDRESS', how='left')
    
    return pluto_loc_updated

def process_PLUTO(pluto_update, instructions):
    pluto_loc = fill_loc(pluto_update)
    drop_index = pluto_loc[pluto_loc['BLDG CAT']=='Commercial'].index.tolist() + \
                 pluto_loc[pluto_loc['BLDG CAT']=='Industrial'].index.tolist() + \
                 pluto_loc[pluto_loc['BLDG CAT']=='Vacant Land'].index.tolist() + \
                 pluto_loc[pluto_loc['BLDG CODE']=='RESI CONDO'].index.tolist() + \
                 pluto_loc[pluto_loc['BLDG CODE']=='ROW W/OFF STORE'].index.tolist() + \
                 pluto_loc[pluto_loc['LAND SF']==0].index.tolist() + \
                 pluto_loc[pluto_loc['GSF']<800].index.tolist() + \
                 pluto_loc[pluto_loc['SALE PRICE']<25000].index.tolist()
    
    process_dict = instructions['process_dict']
    
    pluto_process = pluto_loc.drop(drop_index)\
                             .reset_index(drop=True)
    
    
    mod_keys = list(process_dict.keys())
    
    for key in mod_keys:
        mod = process_dict[key]
        pluto_process.at[pluto_process[pluto_process['BLDG CODE']==key].index, 
                         ['# UNITS', 'CONDO', 'BUILDING', 'UNIT']] \
                    = [mod['# UNITS'], mod['CONDO'], mod['BUILDING'], mod['UNIT']]
    
    return pluto_process.reset_index(drop=True)

def load_old_PLUTO(pluto_path):
    pluto = pd.read_csv(pluto_path)
    return pluto

def export_new_PLUTO(pluto_process, exp_path):
    pluto_process.to_csv(f'{exp_path}/PLUTO_monthly_update.csv')
    
def logger(func, instructions):
    func_name = func.__name__
    log_dict = instructions['log_dict']
    print(log_dict[func_name])
    
def pipeline(pluto_path, export_path):
    logger(download_df, instructions)
    df = download_df()
    
    logger(pre_clean_df, instructions)
    df_new = pre_clean_df(df, instructions)
    
    logger(subset_df_date, instructions)
    df_sub = subset_df_date(df_new, '40 days')
    
    logger(load_old_PLUTO, instructions)
    pluto = load_old_PLUTO(pluto_path)
    
    logger(update_PLUTO, instructions)
    p = update_PLUTO(pluto, df_sub)
    
    logger(process_PLUTO, instructions)
    pnew = process_PLUTO(p, instructions)
    
    logger(export_new_PLUTO)
    export_new_PLUTO(pnew, export_path)

In [527]:
pluto_path = '../data/project/PHLPL-001 All_Properties [byaddress;location] PLUTO.csv'
export_path = '../data/project'

pipeline(pluto_path, export_path)

downloading new data... (takes a while, please be patient)
pre-process the downloaded data (delete redundant columns, rename some columns)
subset recent data from the downloaded data
loading old PLUTO data...

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3319: DtypeWarning: Columns (33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

update PLUTO with the new data, data merging... (takes a while, please be patient)
final step: process the new pluto, almost ready

TypeError: logger() missing 1 required positional argument: 'instructions'

In [518]:
df = download_df()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3242: DtypeWarning: Columns (1,3,10,28,29,30,31,32,33,70) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [406]:
df_new = pre_clean_df(df, instructions)
df_sub = subset_df_date(df_new, '40 days')

In [407]:
pluto = pd.read_csv('../data/project/PHLPL-001 All_Properties [byaddress;location] PLUTO.csv')

In [408]:
p = update_PLUTO(pluto, df_sub)

In [462]:
fill_loc(p)

,# BATH,# BED,# FIREPLACE,# FLOORS,# ROOMS,# UNITS,ADDRESS,BASEMENT,BLDG ASSD $,BLDG CAT,...,UNIT #,VIEW,YEAR BUILT,ZONING,homestead_exemption,off_street_open,REIS Submarket,CITY,STATE,ZIP
0,1.0,2.0,0.0,2.0,4.0,1.0,1903 N PHILIP ST,NaN,36120.0,Single Family,...,NaN,I,1920,RM1,39200.0,0.0,North Frankford,Philadelphia,PA,19122
1,2.0,2.0,0.0,3.0,8.0,1.0,1839-47 BLAIR ST,NaN,80767.0,Single Family,...,7,I,2017,CMX2,0.0,0.0,North Frankford,Philadelphia,PA,19125
2,3.0,3.0,0.0,3.0,5.0,1.0,1252 PALETHORP ST,A,355300.0,Single Family,...,1,I,2018,RM1,NaN,0.0,North Frankford,Philadelphia,PA,19122
3,3.0,3.0,0.0,4.0,5.0,1.0,620 N 03RD ST,NaN,488400.0,Single Family,...,000002C,I,2017,NaN,0.0,0.0,Center City,Philadelphia,PA,19123
4,1.0,4.0,0.0,3.0,7.0,1.0,4916 KNORR ST,NaN,80862.0,Single Family,...,NaN,I,1920,RSA5,0.0,0.0,North Frankford,Philadelphia,PA,19135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488588,0.0,0.0,0.0,0.0,0.0,NaN,2722 N LAWRENCE ST,NaN,0.0,Vacant Land,...,NaN,I,0,RSA5,NaN,0.0,NaN,NaN,NaN,191332739
488589,0.0,0.0,0.0,3.0,0.0,NaN,1700 S 20TH ST,D,121200.0,Mixed Use,...,NaN,I,1920,CMX1,NaN,0.0,NaN,NaN,NaN,191452003
488590,0.0,0.0,1.0,3.0,0.0,NaN,7627-31 GERMANTOWN AVE,NaN,218880.0,Mixed Use,...,NaN,I,1845,SPPOA,NaN,10.0,NaN,NaN,NaN,191183523
488591,0.0,0.0,0.0,0.0,0.0,NaN,1862 N 27TH ST,NaN,0.0,Vacant Land,...,NaN,NaN,0,RSA5,NaN,0.0,NaN,NaN,NaN,191212600
488592,2.0,4.0,1.0,2.0,7.0,NaN,628 SPRING LN,E,250750.0,Single Family,...,NaN,C,1950,RSD3,NaN,0.0,NaN,NaN,NaN,191281046

In [514]:
pnew = process_PLUTO(p, instructions)

In [512]:
pnew

,# BATH,# BED,# FIREPLACE,# FLOORS,# ROOMS,# UNITS,ADDRESS,BASEMENT,BLDG ASSD $,BLDG CAT,...,UNIT #,VIEW,YEAR BUILT,ZONING,homestead_exemption,off_street_open,REIS Submarket,CITY,STATE,ZIP
0,1.0,4.0,0.0,3.0,7.0,1.0,4916 KNORR ST,NaN,80862.0,Single Family,...,NaN,I,1920,RSA5,0.0,0.0,North Frankford,Philadelphia,PA,19135
1,1.0,3.0,0.0,2.0,6.0,1.0,8747 JACKSON ST,H,103250.0,Single Family,...,NaN,I,1962,RSA5,30000.0,0.0,Torresdale Bensalem,Philadelphia,PA,19136
2,1.0,3.0,0.0,2.0,6.0,1.0,341 JACKSON ST,D,69904.0,Single Family,...,NaN,I,1920,RSA5,0.0,0.0,Center City,Philadelphia,PA,19148
3,1.0,2.0,0.0,2.0,5.0,1.0,867 N STILLMAN ST,A,270453.0,Single Family,...,NaN,I,1920,RSA5,40000.0,0.0,Center City,Philadelphia,PA,19130
4,2.0,4.0,0.0,2.0,8.0,3.0,4616 SILVERWOOD ST,0,247860.0,Multifamily,...,NaN,I,1960,RSA5,0.0,2.0,Roxboro Chestnut Hill,Philadelphia,PA,19128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248409,0.0,0.0,0.0,2.0,0.0,NaN,9330 EDMUND ST,NaN,170670.0,Single Family,...,NaN,I,1973,RSD3,NaN,0.0,NaN,NaN,NaN,191144006
248410,0.0,0.0,0.0,2.0,0.0,NaN,8048 PINE RD,H,184950.0,Single Family,...,NaN,I,1953,RSA2,NaN,0.0,NaN,NaN,NaN,191111864
248411,0.0,0.0,0.0,2.0,0.0,NaN,1879 SANFORD ST,F,149740.0,Single Family,...,NaN,I,1961,RSA2,NaN,0.0,NaN,NaN,NaN,191163845
248412,0.0,0.0,0.0,3.0,0.0,NaN,1700 S 20TH ST,D,121200.0,Mixed Use,...,NaN,I,1920,CMX1,NaN,0.0,NaN,NaN,NaN,191452003
248413,0.0,0.0,1.0,3.0,0.0,NaN,7627-31 GERMANTOWN AVE,NaN,218880.0,Mixed Use,...,NaN,I,1845,SPPOA,NaN,10.0,NaN,NaN,NaN,191183523

In [523]:
logger(download_df, instructions)

downloading new data... (takes a while, please be patient)