In [16]:
import pandas as pd
import numpy as np
import os
from os import listdir
from os.path import isfile, join

In [37]:
data_path_year = '../data/Political_contributions_CSV/2019'
filenames = [f for f in listdir(data_path_year) if isfile(join(data_path_year, f))]
filenames

['itcont_2020_20190426_20190628.csv',
 'itcont_2020_20190909_20191231.csv',
 'itcont_2020_20190629_20190908.csv',
 'itcont_2020_20010425_20190425.csv']

In [38]:
frames = []
for fn in filenames:
    data = pd.read_csv(f'{data_path_year}/{fn}')
    frames.append(data)
data_all = pd.concat(frames)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (0,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
data_unique = data_all.drop_duplicates()

In [49]:
data_unique.tail()

,election type,entity,donor,city,state,zip code,recipient,recipient type,date,amount
1977255,NaN,IND,"BELLIS, STEVE",GOSHEN,KY,40026,NaN,NaN,1282019,25
1977256,NaN,IND,"BRAUDY, SUSAN",NEW YORK,NY,10019,NaN,NaN,4102019,27
1977257,NaN,IND,"BRAUER, KIMBERLY",EAST HAMPTON,NY,11937,NaN,NaN,2142019,500
1977258,NaN,IND,"BRAUN, LLOYD",BEVERLY HILLS,CA,90211,NaN,NaN,2052019,5400
1977259,NaN,IND,"BRAUN, RICHARD",NEW YORK,NY,10003,NaN,NaN,3192019,10

In [51]:
data_unique = data_unique.reset_index()

In [56]:
data_unique.query('amount>0')

,index,election type,entity,donor,city,state,zip code,recipient,recipient type,date,amount
0,0,P,IND,"CUMMINS, DAVID",MCLEAN,VA,221013026,SERCO INC.,SVP BUSINESS UNIT,4262019,227
1,1,P,IND,"ANDERSON, MICHAEL",ARLINGTON,VA,222071378,SERCO INC.,DIRECTOR PROGRAM MGMT OFFICE,4262019,91
2,2,P,IND,"BEZMEN, TRISHA L",NORFOLK,VA,235181345,SERCO INC.,PROGRAM DIRECTOR,4262019,153
3,3,P,IND,"BROWN, KENT",SAN DIEGO,CA,921304803,SERCO INC.,VP BUSINESS UNIT,4262019,384
4,4,P,IND,"CARMAN, STEVEN",MOYOCK,NC,279589595,SERCO INC.,QUALITY ASSURANCE ENGINEER,4262019,47
...,...,...,...,...,...,...,...,...,...,...,...
7383243,1977255,NaN,IND,"BELLIS, STEVE",GOSHEN,KY,40026,NaN,NaN,1282019,25
7383244,1977256,NaN,IND,"BRAUDY, SUSAN",NEW YORK,NY,10019,NaN,NaN,4102019,27
7383245,1977257,NaN,IND,"BRAUER, KIMBERLY",EAST HAMPTON,NY,11937,NaN,NaN,2142019,500
7383246,1977258,NaN,IND,"BRAUN, LLOYD",BEVERLY HILLS,CA,90211,NaN,NaN,2052019,5400
7383247,1977259,NaN,IND,"BRAUN, RICHARD",NEW YORK,NY,10003,NaN,NaN,3192019,10

In [59]:
listdir('../data/Political_contributions')

['2011-2012', '2015-2016', '2009-2010', '2019', '2013-2014', '2017-2018']